Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

Add FXIOS-5944 [v113] Use zoom feature toggle (#13610)
  Client.xcodeproj/project.pbxproj
  Client/Application/AccessibilityIdentifiers.swift
  Client/Application/ImageIdentifiers.swift
  Client/Assets/Images.xcassets/add.imageset/Contents.json
  Client/Assets/Images.xcassets/add.imageset/add.pdf
  Client/Assets/Images.xcassets/subtract.imageset/Contents.json
  Client/Assets/Images.xcassets/subtract.imageset/subtract.pdf
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+TabToolbarDelegate.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ZoomPage.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Browser/ZoomPageBar.swift
  Client/Frontend/Strings.swift
Due: none

set isPresentedFromToast inside designated initializer before super.init is called
  Client/Frontend/Library/Bookmarks/BookmarkDetailPanel.swift
Due: none

add call to updateSaveButton if bookmark is being presented from toast
  Client/Frontend/Library/Bookmarks/BookmarkDetailPanel.swift
Due: none

refact: Adjust zoom levels
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+TabToolbarDelegate.swift
  Client/TabManagement/Tab.swift
Due: none

FXIOS-5976 [v113] addressed PR comments
  Client/TabManagement/Legacy/LegacySavedTab+ConfigureExtension.swift
  Client/TabManagement/Legacy/LegacyTabManagerStore.swift
  Storage/DiskImageStore.swift
Due: none

feat: Adjust theme, ZoomPageBar view according to design specs
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ZoomPage.swift
  Client/Frontend/Browser/ZoomPageBar.swift
  Client/Frontend/UIConstants.swift
Due: none

Refactor FXIOS-3648 [v113] Fix search engine Archiving deprecations warnings (#9813)
  Client/Frontend/Browser/SearchEngines/SearchEngines.swift
Due: none

Rename var
  Client/EngagementNotificationHelper.swift
Due: none

ensure that the style for readerMode will stay the same as user sets
  Client/Frontend/Reader/ReaderModeHandlers.swift
  Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
Due: none

Fix Swiftlint warning
  Client/Nimbus/NimbusFeatureFlagLayer.swift
Due: none

pass bookmarkItemURL to designated init
  Client/Frontend/Library/Bookmarks/BookmarkDetailPanel.swift
Due: none

remove extra call to updateSaveButton
  Client/Frontend/Library/Bookmarks/BookmarkDetailPanel.swift
Due: none

Add FXIOS-5937 [v112] Filter notifications based on user preferences (#13645)
  Client/Application/AppDelegate+PushNotifications.swift
  Client/EngagementNotificationHelper.swift
  Client/Frontend/Settings/NotificationsSettingsViewController.swift
  Client/Nimbus/NimbusFeatureFlagLayer.swift
  RustFxA/PushNotificationSetup.swift
  Tests/ClientTests/Helpers/EngagementNotificationHelperTests.swift
Due: none

refact: Remove traitCollectionDidChange method and override layoutSubviews method
  Client/Frontend/Browser/ZoomPageBar.swift
Due: none

Fix two of the L10n tests
  L10nSnapshotTests/L10nSuite1SnapshotTests.swift
  L10nSnapshotTests/L10nSuite2SnapshotTests.swift
Due: none

Disable testStartBrowsing FromThirdScreen for the new work
  Tests/XCUITests/FirstRunTourTests.swift
Due: workflow_2

refact: Implement showZoomPage method
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+TabToolbarDelegate.swift
Due: none

add testdata to perfherder data transform
  bitrise.yml
  test-fixtures/perfTestTransform.py
Due: workflow_1

Refactor FXIOS-5945 [v113] Adjust zoom levels according to design specs (#13649)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+TabToolbarDelegate.swift
  Client/TabManagement/Tab.swift
Due: none

update for PR feedback
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardEditView.swift
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardEditViewModel.swift
  Client/Frontend/Autofill/CreditCard/ViewComponents/CreditCardInput/CreditCardInputField.swift
  Client/Frontend/Autofill/CreditCard/ViewComponents/CreditCardInput/CreditCardInputViewModel.swift
  Client/Frontend/Autofill/CreditCard/ViewComponents/FloatingTextField.swift
Due: none

Update Client/Frontend/Settings/NotificationsSettingsViewController.swift
  Client/Frontend/Settings/NotificationsSettingsViewController.swift
Due: none

Version bump to 111.2
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  Extensions/Today/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

refact: Add dynamic text capability
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ZoomPage.swift
  Client/Frontend/Browser/ZoomPageBar.swift
Due: none

update
  Client/Frontend/Autofill/CreditCard/ViewComponents/CreditCardInput/CreditCardInputField.swift
  Client/Frontend/Autofill/CreditCard/ViewComponents/CreditCardInput/CreditCardInputViewModel.swift
  Tests/ClientTests/Autofill/CreditCard/ViewComponents/CreditCardInputViewModelTests.swift
Due: none

Fix for iPhone 14
  Tests/XCUITests/HomePageSettingsUITest.swift
Due: workflow_2

Fix for iPad
  Tests/XCUITests/BaseTestCase.swift
Due: workflow_2

Bugfix MTE-787 [v113] Fix for testRecentlySaved from HomePageSettingsUITests (#13671)
  Tests/XCUITests/BaseTestCase.swift
  Tests/XCUITests/HomePageSettingsUITest.swift
Due: workflow_2

Bugfix FXIOS-5416 [v113] changed address bar’s lock icon’s Enhanced Tracking Protection disabled badge to blue instead of white
  Client/Frontend/Toolbar+URLBar/TabLocationView.swift
Due: none

Version bump to 111.2 (#13668)
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  Extensions/Today/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

Bugfix MTE-786[v113] Update URL for "What's New" page (#13644)
  Tests/XCUITests/WhatsNewTest.swift
Due: workflow_2

refact: Update stepper constraints based on size class
  Client/Frontend/Browser/ZoomPageBar.swift
Due: none

make MockHistoryHighlightsDataAdaptor delegate weak
  Tests/ClientTests/Frontend/Home/HistoryHighlights/MockHistoryHighlightsDataAdaptor.swift
Due: none

add memory leak unit test
  Tests/ClientTests/Frontend/Home/HistoryHighlights/HistoryHighlightsDataAdaptorTests.swift
Due: none

remove trailing whitespace
  Tests/ClientTests/Frontend/Home/HistoryHighlights/HistoryHighlightsDataAdaptorTests.swift
Due: none

test updates and 2099 is not the end of the world
  Client/Frontend/Autofill/CreditCard/ViewComponents/CreditCardInput/CreditCardInputViewModel.swift
  Tests/ClientTests/Autofill/CreditCard/ViewComponents/CreditCardInputViewModelTests.swift
Due: none

exclude image from being read in voiceover
  Client/Frontend/Autofill/CreditCard/ViewComponents/CreditCardInput/CreditCardInputField.swift
Due: none

Addressed PR comments
  Client/EngagementNotificationHelper.swift
  Client/Frontend/Settings/NotificationsSettingsViewController.swift
  Client/Frontend/Settings/SettingsTableViewController.swift
  Client/NotificationManager.swift
Due: none

Point TabManager at protocol
  Client.xcodeproj/project.pbxproj
  Client/Application/AppDelegate.swift
  Client/Frontend/Browser/TopTabsViewController.swift
  Client/Frontend/Home/HistoryHighlights/HistoryHighlightsDataAdaptor.swift
  Client/Frontend/Home/HomepageViewController.swift
  Client/Frontend/Home/HomepageViewModel.swift
  Client/Frontend/Home/JumpBackIn/Data/JumpBackInDataAdaptor.swift
  Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  Client/Frontend/Settings/HomepageSettings/WallpaperSettings/v1/WallpaperSettingsViewModel.swift
  Client/Frontend/Settings/SettingsContentViewController.swift
  Client/TabManagement/Legacy/LegacyTabManager.swift
  Client/TabManagement/TabManager.swift
  Tests/ClientTests/DependencyInjection/DependencyHelperMock.swift
  Tests/ClientTests/Frontend/Browser/BrowserViewControllerWebViewDelegateTests.swift
  Tests/ClientTests/Frontend/Browser/TabManagement/TabManagerTests.swift
  Tests/ClientTests/Frontend/Browser/TabManagement/TabsQuantityTelemetryTests.swift
  Tests/ClientTests/Frontend/Home/HomepageViewControllerTests.swift
  Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
  Tests/ClientTests/HistoryHighlights/HistoryHighlightsManagerTests.swift
  Tests/ClientTests/Library/LibraryViewModelTests.swift
  Tests/ClientTests/Mocks/MockTabManager.swift
  Tests/ClientTests/NavigationRouterTests.swift
  Tests/ClientTests/QuickActionsTests.swift
  Tests/ClientTests/StartAtHomeHelperTests.swift
  Tests/ClientTests/TabDisplayManagerTests.swift
  Tests/ClientTests/TabToolbarHelperTests.swift
  Tests/ClientTests/TabTrayViewControllerTests.swift
Due: none

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
