Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

taskcluster/ci/bitrise-trigger/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
loader: taskgraph.loader.transform:loader

transforms:
    - ffios_taskgraph.transforms.bitrise:transforms
    - ffios_taskgraph.transforms.secrets:transforms
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms


tasks:
    workflow_1:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "bitrise.yml"
    workflow_2:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "Tests/XCUITests/*"

Added FXIOS-5258 [v109] Add Fuzi to browser kit and remove Fuzi target from the app (#12473)
  BrowserKit/Package.swift
  Client.xcodeproj/project.pbxproj
  Tests/ClientTests/Frontend/Browser/Tab Management/TabManagerTests.swift
  Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
  Tests/XCUITests/SaveLoginsTests.swift
Due: workflow_2

Update FXIOS-5099 [v109] theming in reader mode (#12409)
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ReaderMode.swift
  Client/Frontend/Reader/ReaderMode.swift
  Client/Frontend/Reader/ReaderModeCache.swift
  Client/Frontend/Reader/Resources/FSReadingList.h
  Client/Frontend/Reader/Resources/FSReadingList.m
  Client/Frontend/Reader/Resources/Reader.css
  Client/Frontend/Reader/Resources/Reader.html
  Client/Frontend/Reader/Resources/ReaderViewLoading.html
  Client/Frontend/Reader/View/ReaderModeBarView.swift
  Client/Frontend/Reader/View/ReaderModeFontSizeButton.swift
  Client/Frontend/Reader/View/ReaderModeFontSizeLabel.swift
  Client/Frontend/Reader/View/ReaderModeFontTypeButton.swift
  Client/Frontend/Reader/View/ReaderModeStyleViewController.swift
  Client/Frontend/Reader/View/ReaderModeStyleViewModel.swift
  Client/Frontend/Reader/View/ReaderModeThemeButton.swift
  Client/Frontend/Theme/DarkTheme.swift
  Client/Frontend/Theme/LightTheme.swift
  Client/Frontend/Theme/Theme.swift
  Client/Frontend/Theme/ThemeType.swift
  Tests/ClientTests/ReaderModeStyleTests.swift
Due: none

Bugfix FXIOS-5277 [v108] Theme is incorrect for search suggestions (#12445)
  Client/Frontend/Browser/SearchViewController.swift
  Client/Frontend/Widgets/TwoLineImageOverlayCell.swift
Due: none

Refactor FXIOS-5042 [v109] Use inputTypeIsCompatibleWithUsername function from shared logic file (#12451)
  Client/Frontend/UserContent/UserScripts/AllFrames/AtDocumentStart/LoginsHelper.js
  webpack.config.js
Due: none

Bugfix FXIOS-5281 [v109] Device orientation change would put the check over the text (#12466)
  Client/Frontend/Settings/ContentBlockerSettingViewController.swift
Due: none

Refactor FXIOS-5322 [v109] Fix linter rules from 0.50.0 Swiftlint update (#12494)
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Browser/OpenWithSettingsViewController.swift
  Client/Frontend/Browser/Punycode.swift
  Shared/Extensions/OptionalExtensions.swift
  Shared/Extensions/StringExtensions.swift
  Shared/Functions.swift
  Storage/Site.swift
  Sync/BatchingClient.swift
  Sync/State.swift
  Tests/SharedTests/UtilsTests.swift
Due: none

Bugfix FXIOS-5293 [v107.2] optimize home page reload (#12446)
  Client/Frontend/Home/HistoryHighlights/HistoryHighlightsViewModel.swift
  Client/Frontend/Home/HomepageViewController.swift
  Client/Frontend/Home/HomepageViewModel.swift
  Client/Frontend/Home/JumpBackIn/Cell/JumpBackInCell.swift
  Client/Frontend/Home/JumpBackIn/Cell/SyncedTabCell.swift
  Client/Frontend/Home/JumpBackIn/Data/JumpBackInDataAdaptor.swift
  Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  Client/Frontend/Home/RecentlySaved/RecentlySavedDataAdaptor.swift
  Client/Frontend/Home/RecentlySaved/RecentlySavedViewModel.swift
  Client/Frontend/Home/TopSites/Cell/TopSiteItemCell.swift
  Client/Frontend/Home/TopSites/DataManagement/TopSitesDataAdaptor.swift
  Client/Frontend/Home/TopSites/TopSitesViewModel.swift
  Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  Tests/ClientTests/Frontend/Home/RecentlySaved/RecentlySavedDataAdaptorTests.swift
  Tests/ClientTests/Frontend/Home/TopSites/TopSitesDataAdaptorTests.swift
Due: none

Refactor MTE-183 [v109] M1 specific test failures in DownloadFilesTests, HomePageSettingsUITests and ReaderViewTest (#12449)
  Tests/XCUITests/DownloadFilesTests.swift
  Tests/XCUITests/HomePageSettingsUITest.swift
  Tests/XCUITests/ReaderViewUITest.swift
Due: workflow_2

Add FXIOS-4734/4895 [v109] Strings for 109 (#12474)
  Client/Extensions/UIAlertController+Extension.swift
  Client/Frontend/Strings.swift
Due: none

Added FXIOS-5258 [v109] Favicon image url fetcher (#12489)
  BrowserKit/Sources/SiteImageView/Entities/SiteImageError.swift
  BrowserKit/Sources/SiteImageView/Entities/SiteImageModel.swift
  BrowserKit/Sources/SiteImageView/SiteImageView.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/ImageURLFetcher.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/NetworkRequest.swift
  BrowserKit/Tests/SiteImageViewTests/Mocks/NetworkRequestMock.swift
  BrowserKit/Tests/SiteImageViewTests/URLProcessing/ImageURLFetcherTests.swift
Due: none

Build MTE-280 [v109] Run Selective UITests (#12436)
  bitrise.yml
Due: workflow_1

Refactor MTE-183 [v109] NavigationTest, ThirdPartySearchTest and PrivateBrowsingTest for M1 (#12545)
  Tests/XCUITests/FxScreenGraph.swift
  Tests/XCUITests/NavigationTest.swift
  Tests/XCUITests/PrivateBrowsingTest.swift
  Tests/XCUITests/ThirdPartySearchTest.swift
Due: workflow_2

Bugfix FXIOS-5014 [v109] Deleting an inactive tab scrolls back to the beginning of the Inactive Tabs list (#12551)
  Client/Frontend/Browser/TabDisplayManager.swift
Due: none

Fixes SYNC-3506 [v109] Resets FxA manager state after push notifications arrive (#12544)
  Account/FxAPushMessageHandler.swift
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Client/Application/AppDelegate+PushNotifications.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Push/PushRegistration.swift
  RustFxA/PushNotificationSetup.swift
  RustFxA/RustFirefoxAccounts.swift
  Shared/Extensions/KeychainWrapperExtensions.swift
Due: none

Bugfix FXIOS-5246 [v108] Top tabs and url theme breaks after enableing night mode (#12516)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/TabContentsScripts/NightModeHelper.swift
Due: none

Bugfix FXIOS-5347 [v109] Search suggestions should be bold (#12532)
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/SearchViewController.swift
  Client/Frontend/Browser/String+Punycode.swift
  Shared/Extensions/Data+Extension.swift
  Shared/Extensions/HashExtensions.swift
  Shared/Extensions/HexExtensions.swift
  Shared/Extensions/String+Extension.swift
Due: none

Bump [v109] Upgrade to Glean v51.8.3 (#12501)
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Bump [v109] Upgrade bitrise to 14.1, update readme (#12528)
  README.md
  bitrise.yml
Due: workflow_1

Refactor MTE-183 [v109] Updates for FindInPageTest, FirstRunTourTests and SearchTest (#12477)
  Tests/XCUITests/FindInPageTest.swift
  Tests/XCUITests/FirstRunTourTests.swift
  Tests/XCUITests/SearchTest.swift
Due: workflow_2

Refactor FXIOS-5286 [v109] Remove BVC dependence in inactiveTabsVM (#12518)
  Client.xcodeproj/project.pbxproj
  Client/Application/AppContainer.swift
  Client/Application/AppDelegate.swift
  Client/Application/AppSession+Enums.swift
  Client/Application/AppSessionManager.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/Tabs/InactiveTabViewModel.swift
Due: none

Refactor [v109] Adjust warnings threshold (#12537)
  test-fixtures/generate-metrics.sh
Due: none

Bump [v109] Update Sentry to 7.31.3 (#12553)
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Add FXIOS-5226 [v108] share sheet re design and integration #12550
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Home/HomepageContextMenuHelper.swift
  Client/Frontend/Home/HomepageViewController.swift
Due: none

Add FXIOS-5226 [v108] share sheet re design and integration (#12526)
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+TabToolbarDelegate.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Browser/TabPeekViewController.swift
  Client/Frontend/Extensions/DevicePickerViewController.swift
  Client/Frontend/Home/HomepageContextMenuHelper.swift
  Client/Frontend/Home/HomepageViewController.swift
  Client/Frontend/Share/CopyLinkActivity.swift
  Client/Frontend/Share/CustomAppActivity.swift
  Client/Frontend/Share/SendToDeviceActivity.swift
  Client/Frontend/Share/SendToDeviceHelper.swift
  Client/Frontend/Share/ShareExtensionHelper.swift
  Client/Telemetry/TelemetryWrapper.swift
  Client/metrics.yaml
  Extensions/ShareTo/SendToDevice.swift
  Shared/Extensions/URLExtensions.swift
  Tests/XCUITests/ClipBoardTests.swift
  nimbus.fml.yaml
Due: workflow_2

Add FXIOS-5284 & FXIOS-5285 [v108] share button on awesomebar (#12472)
  Client.xcodeproj/project.pbxproj
  Client/Application/AccessibilityIdentifiers.swift
  Client/Assets/Images.xcassets/New Tab - Reader/ReaderModeAvailable.imageset/Contents.json
  Client/Assets/Images.xcassets/New Tab - Reader/ReaderModeAvailable.imageset/Group.pdf
  Client/Assets/Images.xcassets/New Tab - Reader/ReaderModeAvailable.imageset/Reader Mode-24Readermode.pdf
  Client/Assets/Images.xcassets/TabToolbar/nav-refresh.imageset/Contents.json
  Client/Assets/Images.xcassets/TabToolbar/nav-refresh.imageset/Reload-24reload.pdf
  Client/Assets/Images.xcassets/TabToolbar/nav-share.imageset/Contents.json
  Client/Assets/Images.xcassets/TabToolbar/nav-share.imageset/Group.pdf
  Client/Assets/Images.xcassets/TabToolbar/nav-share.imageset/Share iOS-24.png
  Client/Assets/Images.xcassets/TabToolbar/nav-stop.imageset/Close-24Stop.pdf
  Client/Assets/Images.xcassets/TabToolbar/nav-stop.imageset/Contents.json
  Client/Assets/Images.xcassets/TabToolbar/nav-stop.imageset/Group.pdf
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Toolbar+URLBar/ReaderModeButton.swift
  Client/Frontend/Toolbar+URLBar/ShareButton.swift
  Client/Frontend/Toolbar+URLBar/TabLocationView.swift
  Client/Frontend/Toolbar+URLBar/URLBarView.swift
  Client/Frontend/Toolbar+URLBar/URLTextField.swift
  Client/Telemetry/TelemetryWrapper.swift
  Client/metrics.yaml
  Tests/XCUITests/ClipBoardTests.swift
  Tests/XCUITests/PhotonActionSheetTest.swift
  nimbus.fml.yaml
Due: workflow_2

Refactor FXIOS-5157 [v109] Top Sites on iPad (#12495)
  Client/Frontend/Home/CustomizeHome/CustomizeHomepageSectionViewModel.swift
  Client/Frontend/Home/HistoryHighlights/HistoryHighlightsViewModel.swift
  Client/Frontend/Home/HomepageViewController.swift
  Client/Frontend/Home/HomepageViewModel.swift
  Client/Frontend/Home/HomepageViewModelProtocol.swift
  Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  Client/Frontend/Home/LogoHeader/HomeLogoHeaderViewModel.swift
  Client/Frontend/Home/MessageCard/HomepageMessageCardViewModel.swift
  Client/Frontend/Home/Pocket/PocketViewModel.swift
  Client/Frontend/Home/RecentlySaved/RecentlySavedViewModel.swift
  Client/Frontend/Home/TopSites/Cell/TopSiteItemCell.swift
  Client/Frontend/Home/TopSites/TopSitesDimension.swift
  Client/Frontend/Home/TopSites/TopSitesViewModel.swift
  Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
  Tests/ClientTests/Frontend/Home/TopSites/TopSitesDimensionTests.swift
Due: none

Bump [v109] Update mappa mundi dependency to latest (#12529)
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Add FXIOS-5363 [v108] Hack for toolbar experiment (#12555)
  Client/Frontend/Home/Wallpapers/v1/NetworkServices/WallpaperImageLoader.swift
  Client/Nimbus/NimbusFeatureFlagLayer.swift
  nimbus.fml.yaml
Due: none

Bugfix FXIOS-5273 [v109] Extra spacing in the download panel #12467
  Client/Frontend/Library/DownloadsPanel.swift
Due: none

Refactor FXIOS-5286 [v109] Remove BVC dependence in TabScrollController & ReaderModeBarView (#12586)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/TabScrollController.swift
  Client/Frontend/Contextual Hint/ContextualHintEligibilityUtility.swift
  Client/Frontend/Contextual Hint/ContextualHintViewModel.swift
  Client/Frontend/Home/HomepageViewController.swift
  Client/Frontend/Reader/View/ReaderModeBarView.swift
  Client/Frontend/Settings/AppSettingsTableViewController.swift
  Client/Frontend/Settings/SearchBar/SearchBarSettingsViewModel.swift
  Client/Frontend/Toolbar+URLBar/TabToolbar.swift
  Client/Frontend/Toolbar+URLBar/URLBarView.swift
Due: none

Bugfix FXIOS-4981 [v109] The `Jump back in` pop-up text jump to `Recently Visited` or `Thought-Provoking Stories` when multitasking with `Voice over` On (#12574)
  Client/Frontend/Contextual Hint/ContextualHintViewController.swift
  Client/Frontend/Home/HomepageViewController.swift
Due: none

Add FXIOS-5364 [v109] instrument nimbus events for application opening and sync login (#12560)
  Client/Experiments/Experiments.swift
  Client/Telemetry/TelemetryWrapper.swift
  Tests/ClientTests/TelemetryWrapperTests.swift
Due: none

Fixed FXIOS-5128, FXIOS-5274 [v109] close all tabs from trash will get propagated to the recently closed tabs list (#12581)
  Client/Frontend/Browser/Tab Management/TabManager.swift
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Due: none

Bugfix FXIOS-5372 [v108] Long press on history panel item is not showing context menu anymore (#12575)
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Due: none

Add FXIOS-5366 [v109] Add hero image fetcher in BrowserKit (#12594)
  BrowserKit/Sources/SiteImageView/ImageProcessing/HeroImageFetcher/HeroImageFetcher.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/HeroImageFetcher/ImageProvider.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/HeroImageFetcherTests.swift
Due: none

Refactor FXIOS-5376 [v109] Add AppName placeholder to string (#12589)
  Client/Extensions/UIAlertController+Extension.swift
  Client/Frontend/Strings.swift
Due: none

Refactor FXIOS-5357 [v109] Move to async await for site image fetcher (#12539)
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageFetcher/SiteImageDownloader.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageFetcher/SiteImageFetcher.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageFetcherTests.swift
Due: none

Cleanup FXIOS-5259 [v109] Clean up dependencies (#12571)
  Client.xcodeproj/project.pbxproj
  DynamicSwiftyJson-Info.plist
  Fuzi-Info.plist
  SDWebImage-Info.plist
  Sentry-Info.plist
  Snapkit-Info.plist
  XCGLogger-Info.plist
Due: none

Added FXIOS-5259 [v109] favicon url cache (#12576)
  BrowserKit/Sources/SiteImageView/Entities/SiteImageError.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/ImageError.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageCache/SiteImageCache.swift
  BrowserKit/Sources/SiteImageView/ImageProcessing/SiteImageFetcher/SiteImageFetcher.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/Cache/FaviconURL.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/Cache/FaviconURLCache.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/Cache/FileManagerProtocol.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/Cache/URLCacheFileManager.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/FaviconURLFetcher.swift
  BrowserKit/Sources/SiteImageView/URLProcessing/NetworkRequest.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/ImageProcessing/SiteImageFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/URLProcessing/FaviconURLCacheTests.swift
  BrowserKit/Tests/SiteImageViewTests/URLProcessing/FaviconURLFetcherTests.swift
  BrowserKit/Tests/SiteImageViewTests/URLProcessing/URLCacheFileManagerTests.swift
Due: none

Remove FXIOS-5343 [v109] Removes migrate bookmarks to places db (#12580)
  Providers/Profile.swift
  Storage/Rust/RustPlaces.swift
Due: none
