Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

Bugfix FXIOS-6397 [v114] Fix webView Content on PrivacyPolicyView (#14389)
  Client/Frontend/Onboarding/ViewControllers/PrivacyPolicyViewController.swift
Due: none

Remove depricated test
  Tests/StorageTests/TestBrowserDB.swift
Due: none

Remove parallel testing options
  bitrise.yml
Due: workflow_1

Fix quotation mark (again!)
  bitrise.yml
Due: workflow_1

Build [v115] update python config for fetching cc scripts (#14384)
  Client/Assets/CC_Script/CC_Python_Update.py
  webpack.config.js
Due: none

Bugfix FXIOS-6325 [v115] Fix heterogenous literal warnings (#14404)
  Sync/Keys.swift
  Sync/State.swift
  Sync/Synchronizers/ClientsSynchronizer.swift
  test-fixtures/generate-metrics.sh
Due: none

Set migration to run at v42 for now
  Storage/SQL/BrowserSchema.swift
Due: none

Refactor [v115] auto-update credential provider script pr title
  .github/workflows/update_credential_provider_script.yml
Due: none

Refactor [v115] auto-update credential provider script commit message (#14415)
  .github/workflows/update_credential_provider_script.yml
Due: none

Use verbatim for preview strings
  Client/Frontend/Components/SwiftUI/AdaptiveStack.swift
Due: none

Move string to strings file
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
  Client/Frontend/Strings.swift
Due: none

Fix key ordering in plist files
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
Due: none

Update Client/Frontend/Strings.swift
  Client/Frontend/Strings.swift
Due: none

Fix search engine warning
  Client/Frontend/Browser/SearchEngines/SearchEngines.swift
Due: none

Version bump to 113.2
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

Localize [v115] Fix strings (#14416)
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
  Client/Frontend/Components/SwiftUI/AdaptiveStack.swift
  Client/Frontend/Strings.swift
Due: none

Update testTopSitesOpenInNewPrivateTab
  Tests/XCUITests/ActivityStreamTest.swift
Due: workflow_2

Remove comments possibly from XCode
  Tests/XCUITests/ActivityStreamTest.swift
Due: workflow_2

Fix search engine deprecation
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/SearchEngines/OpenSearchEngine.swift
  Client/Frontend/Browser/SearchEngines/SearchEngines.swift
  Shared/Extensions/NSCoderExtensions.swift
Due: none

test github action script to update-rust-components
  .github/workflows/check-rust-component-dependency.yml
  test-fixtures/update-rust-component-version-backup.py
  test-fixtures/update-rust-component-version.py
Due: none

refact: Add the zoom bar to the bottom container for UX purposes
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+ZoomPage.swift
  Client/Frontend/Browser/TabScrollController.swift
Due: none

fix key ref for tagged_date
  test-fixtures/update-rust-component-version-backup.py
  test-fixtures/update-rust-component-version.py
Due: none

use commit key on tags instead of tagged_date
  test-fixtures/update-rust-component-version.py
Due: none

Compare substring of the website label
  Tests/XCUITests/PrivateBrowsingTest.swift
Due: workflow_2

Update guard statement
  Client/TabManagement/TabManagerImplementation.swift
Due: none

Enable feature flag
  nimbus-features/tabStorageRefactorFeature.yaml
Due: none

Fix no tabs on first launch bug
  Client/TabManagement/TabManagerImplementation.swift
Due: none

Fix some issues with initial tab load
  Client/TabManagement/TabManagerImplementation.swift
Due: none

Ensure UI tests always have at least one empty tab
  Client/TabManagement/TabManagerImplementation.swift
Due: none

Disable flaky test
  Tests/XCUITests/NavigationTest.swift
Due: workflow_2

Fix tests
  Client/TabManagement/TabManagerImplementation.swift
Due: none

Url label for testiPadDirectAccessPrivateModeBrowserTab
  Tests/XCUITests/PrivateBrowsingTest.swift
Due: workflow_2

add labels
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Onboarding/ViewControllers/OnboardingDefaultSettingsViewController.swift
Due: none

refact: Remove comment
  Client/Frontend/Browser/TabScrollController.swift
Due: none

Address comments in PR
  Tests/Smoketest3.xctestplan
  Tests/Smoketest4.xctestplan
  Tests/XCUITests/HistoryTests.swift
  Tests/XCUITests/PrivateBrowsingTest.swift
Due: workflow_2

Address one more comment
  Tests/Smoketest4.xctestplan
Due: none

Add MTE-954 [115] Created tab history tests
  Client.xcodeproj/xcshareddata/xcschemes/Fennec_Enterprise_XCUITests.xcscheme
  Client/Application/AccessibilityIdentifiers.swift
  Tests/XCUITests/HistoryTests.swift
  Tests/XCUITests/PrivateBrowsingTest.swift
Due: workflow_2

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
