Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

refact: Rename MockSyncManager and MockSyncManagerTests classes
  Client.xcodeproj/project.pbxproj
  Tests/ClientTests/Helpers/AccountSyncHandlerTests.swift
  Tests/ClientTests/Mocks/MockProfile.swift
  Tests/ClientTests/Mocks/MockTests/ClientSyncManagerTests.swift
Due: none

Add FXIOS-6508 [v117] ShareExtensionCoordinator flag feature. (#15275)
  .experimenter.yaml
  Client/Coordinators/CoordinatorFlagManager.swift
  Client/FeatureFlags/NimbusFlaggableFeature.swift
  Client/Nimbus/NimbusFeatureFlagLayer.swift
  nimbus-features/shareExtensionCoordinatorRefactor.yaml
  nimbus.fml.yaml
Due: none

Update the commit hash
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Bump [v116] Upgrades appservices to 116.0 (#15313)
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Fix failing test
  Tests/XCUITests/HomePageSettingsUITest.swift
Due: workflow_2

Update screen graph
  Tests/XCUITests/FxScreenGraph.swift
Due: workflow_2

Implementation of ShareExtensionCoordinator and ParentCoordinatorDelegate
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/Browser/BrowserNavigationHandler.swift
  Client/Coordinators/ParentCoordinatorDelegate.swift
  Client/Coordinators/ShareExtensionCoordinator.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/TabManagement/Tab.swift
Due: none

Add ShareExtensionCoordinator tests, Finish implementation of ShareExtensionCoordinator
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/ShareExtensionCoordinator.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Extensions/DevicePickerViewController.swift
  Client/Frontend/InstructionsView.swift
  Client/Frontend/Share/SendToDeviceHelper.swift
  Tests/ClientTests/Coordinators/Mocks/ParentCoordinatorDelegateMock.swift
  Tests/ClientTests/Coordinators/ShareExtensionCoordinatorTests.swift
Due: none

Fix UI test
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  Tests/XCUITests/HomePageSettingsUITest.swift
Due: workflow_2

Add BrowserCoordinatorTests for ShareExtension
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/Browser/BrowserNavigationHandler.swift
  Client/TabManagement/Tab.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Due: none

Bugfix MTE-725 [v117] Disable parallel testing on Bitrise (#15293)
  bitrise.yml
Due: workflow_1

Update lightbulb image
  Client/Application/ImageIdentifiers.swift
  Client/Assets/Images.xcassets/lightbulbLarge.imageset/Contents.json
  Client/Assets/Images.xcassets/lightbulbLarge.imageset/lightbulbLarge.pdf
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Menu/Menu.xcassets/menu-reportSiteIssue.imageset/Contents.json
  Client/Frontend/Menu/Menu.xcassets/menu-reportSiteIssue.imageset/Group 407.pdf
  Tests/XCUITests/FxScreenGraph.swift
Due: workflow_2

Update link image
  Client/Application/ImageIdentifiers.swift
  Client/Assets/Images.xcassets/linkLarge.imageset/Contents.json
  Client/Assets/Images.xcassets/linkLarge.imageset/linkLarge.pdf
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WebViewDelegates.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Browser/TabPeekViewController.swift
  Client/Frontend/Menu/Menu.xcassets/menu-Copy-Link.imageset/Group.pdf
  Client/Frontend/Share/CustomAppActivity.swift
  Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheetProtocol.swift
  Tests/XCUITests/FxScreenGraph.swift
  Tests/XCUITests/NavigationTest.swift
Due: workflow_2

Update key image
  Client/Application/ImageIdentifiers.swift
  Client/Assets/Images.xcassets/key.imageset/Group.pdf
  Client/Assets/Images.xcassets/loginLarge.imageset/Contents.json
  Client/Assets/Images.xcassets/loginLarge.imageset/loginLarge.pdf
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/TabContentsScripts/LoginsHelper.swift
  Tests/XCUITests/FxScreenGraph.swift
  Tests/XCUITests/NavigationTest.swift
Due: workflow_2

Bugfix FXIOS-6862 [v116] resolve the conflict between the tap and the drag gestures on the CreditCardItemRow (#15292)
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
Due: none

Bugfix FXIOS-6560 [v116] fixed formatting for the EditCard view (#15255)
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardInputViewModel.swift
Due: none

Refactor FXIOS-6797 [v116] addressed PR comments
  Client/Frontend/Autofill/CreditCard/ViewComponents/RemoveCardButton.swift
Due: none

Bugfix FXIOS-6797 [v116] made the comment multiline
  Client/Frontend/Autofill/CreditCard/ViewComponents/RemoveCardButton.swift
Due: none

Refactor code as per code review
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/ShareExtensionCoordinator.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  Tests/ClientTests/Coordinators/Mocks/MockParentCoordinatorDelegate.swift
  Tests/ClientTests/Coordinators/ShareExtensionCoordinatorTests.swift
Due: none

Add MTE-1194 [v117] Modify Robo Test Slack Payload
  bitrise.yml
Due: workflow_1

Add MTE-1194 [v117] Modify Robo Test Slack Payload (#15297)
  bitrise.yml
Due: workflow_1

Add missing parameter doc to BrowserNavigationHandler
  Client/Coordinators/Browser/BrowserNavigationHandler.swift
Due: none

Add empty component library
  BrowserKit/Package.swift
  BrowserKit/Sources/ComponentLibrary/Dummy.swift
  BrowserKit/Sources/ComponentLibrary/README.md
  BrowserKit/Tests/ComponentLibraryTests/FooTests.swift
Due: none

Remove unneeded ,
  BrowserKit/Package.swift
  BrowserKit/Sources/ComponentLibrary/Dummy.swift
Due: none

Adjust theme for inactive tabs
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/TabDisplayManager.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabButton.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabHeader.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabItemCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabViewModel.swift
  Client/Frontend/Components/ExpandButtonState.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyDarkTheme.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyTheme.swift
Due: none

Rename right to trailing so wording make sense with RTL
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabCell.swift
  Client/Frontend/Browser/Tabs/RemoteTabs/RemoteTabsClientAndTabsDataSource.swift
  Client/Frontend/Components/ExpandButtonState.swift
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
Due: none

Add FXIOS-6673 [v117] Tabs count telemetry
  Client/Telemetry/TelemetryWrapper.swift
  Client/metrics.yaml
Due: none

Add FXIOS-6848 [v117] Share extension coordinator (#15329)
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/Browser/BrowserNavigationHandler.swift
  Client/Coordinators/ParentCoordinatorDelegate.swift
  Client/Coordinators/ShareExtensionCoordinator.swift
  Client/Frontend/Extensions/DevicePickerViewController.swift
  Client/Frontend/InstructionsView.swift
  Client/Frontend/Share/SendToDeviceHelper.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  Tests/ClientTests/Coordinators/Mocks/MockParentCoordinatorDelegate.swift
  Tests/ClientTests/Coordinators/ShareExtensionCoordinatorTests.swift
Due: none

Create sample application that will be used for component library
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.pbxproj
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/xcshareddata/IDETemplateMacros.plist
  SampleComponentLibraryApp/SampleComponentLibraryApp/AppDelegate.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/AccentColor.colorset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Base.lproj/LaunchScreen.storyboard
  SampleComponentLibraryApp/SampleComponentLibraryApp/Info.plist
  SampleComponentLibraryApp/SampleComponentLibraryApp/RootViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/SceneDelegate.swift
Due: none

Fix init for tests
  Tests/ClientTests/TabDisplayManagerTests.swift
Due: none

Force save tabs on backgrounding the app
  BrowserKit/Sources/TabDataStore/TabDataStore.swift
  Client/TabManagement/TabManagerImplementation.swift
  Client/TabManagement/TabMigrationUtility.swift
Due: none

Bugfix FXIOS-6560 [v116] Credit card sync pulls in incorrect formatting (#15255)
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardInputViewModel.swift
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
Due: none

Remove empty folder
  Client.xcodeproj/project.pbxproj
Due: none

Fix tests
  BrowserKit/Tests/TabDataStoreTests/TabDataStoreTests.swift
  Tests/ClientTests/TabManagement/Mocks/MockTabDataStore.swift
Due: none

Refactor FXIOS-5532 [v117] Adjust theme for inactive tabs (#15309)
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Browser/TabDisplayManager.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabButton.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabHeader.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabItemCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabViewModel.swift
  Client/Frontend/Browser/Tabs/RemoteTabs/RemoteTabsClientAndTabsDataSource.swift
  Client/Frontend/Components/ExpandButtonState.swift
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyDarkTheme.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyTheme.swift
  Tests/ClientTests/TabDisplayManagerTests.swift
Due: none

Clean up unused photon colors
  Client/Frontend/Theme/LegacyThemeManager/photon-colors.swift
Due: none

Forgot tint color push
  Client/Frontend/Widgets/TextFieldTableViewCell.swift
Due: none

Fix TextFieldTableViewCell theming
  Client/Frontend/Library/Bookmarks/BookmarkDetailPanel.swift
  Client/Frontend/UIConstants.swift
  Client/Frontend/Widgets/OneLineTableViewCell.swift
  Client/Frontend/Widgets/TextFieldTableViewCell.swift
Due: none

Fix conflicts
  Client/Frontend/Theme/LegacyThemeManager/LegacyDarkTheme.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyTheme.swift
Due: none

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
