Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2, taskgraph-definition

taskcluster/ci/bitrise-trigger/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
loader: taskgraph.loader.transform:loader

transforms:
    - ffios_taskgraph.transforms.bitrise:transforms
    - ffios_taskgraph.transforms.secrets:transforms
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms


tasks:
    workflow_1:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "bitrise.yml"
    workflow_2:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "Tests/XCUITests/*"

taskcluster/kinds/test/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.run:transforms
    - taskgraph.transforms.task:transforms

tasks:
    taskgraph-definition:
        worker-type: misc
        worker:
            docker-image: {in-tree: alpine}
            max-run-time: 1800
        description: "Test the full `firefox_ios_taskgraph` to validate the latest changes"
        treeherder:
            symbol: test-taskgraph-definition
            kind: test
            platform: tests/opt
            tier: 1
        run:
            using: run-task
            use-caches: true
            cwd: '{checkout}'
            command: >-
                pip3 install --break-system-packages -r taskcluster/requirements.txt &&
                for param in `ls taskcluster/test/params`; do
                    taskgraph full -p taskcluster/test/params/$param
                done &&
                taskgraph full
        when:
            files-changed:
                - taskcluster/**

Bugfix FXIOS-6838 [v124] Fix closing tabs after moving (#18587)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabDisplayView.swift
Due: none

Refactor [v124] fix warnings + lower threshold (#18613)
  BrowserKit/Sources/Common/Constants/StandardImageIndentifiers.swift
  firefox-ios/Client/Frontend/Browser/MetadataParserHelper.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DefaultThemeManagerTests.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Library/HistoryPanelTests.swift
  test-fixtures/generate-metrics.sh
Due: none

added padding
  firefox-ios/Client/Frontend/Autofill/AutofillAccessoryViewButtonItem.swift
Due: none

Bugfix FXIOS-8366 [v124] Update background color for panels
  firefox-ios/Client/Frontend/Library/Downloads/DownloadsPanel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  firefox-ios/Client/Frontend/Library/ReaderPanel.swift
Due: none

swift lint errors
  firefox-ios/Client/AccessoryViewProvider.swift
Due: none

remove layer6 token
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
Due: none

Add FXIOS-8383 [V124] Add a Custom Autofill Accessory View Supporting Credit Cards and Addresses (#18584)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/AccessoryViewProvider.swift
  firefox-ios/Client/Frontend/Autofill/AutofillAccessoryViewButtonItem.swift
  firefox-ios/Client/Frontend/Strings.swift
Due: none

Bugfix FXIOS-8364 [v123] Add confirmation dialog (#18581)
  firefox-ios/Client/Frontend/Browser/Tabs/Action/TabPanelAction.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabTrayState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/State/TabsPanelState.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Due: none

Bugfix FXIOS-8366 [v123.1] Update background color for panels (#18616)
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/PrivateModeTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  firefox-ios/Client/Frontend/Library/Downloads/DownloadsPanel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  firefox-ios/Client/Frontend/Library/ReaderPanel.swift
Due: none

Bugfix FXIOS-8392 [v123.1] Convert cancel button to use default styling
  firefox-ios/Client/Extensions/UIAlertController+Extension.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksPanel.swift
  firefox-ios/Client/Frontend/Library/ClearHistorySheetProvider.swift
  firefox-ios/Client/Frontend/Settings/ClearPrivateDataTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheet.swift
Due: none

rename SmokeXCUITest to Smoktest1!
  .github/workflows/firefox-ios-build-contributor-pr.yml
  bitrise.yml
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/xcshareddata/xcschemes/Fennec.xcscheme
  firefox-ios/firefox-ios-tests/Tests/Smoketest1.xctestplan
Due: workflow_1

remove variable from title
  bitrise.yml
Due: workflow_1

reuse testing workflow
  bitrise.yml
Due: workflow_1

enable all workflows
  bitrise.yml
Due: workflow_1

wrap variable with curly braces
  bitrise.yml
Due: workflow_1

rename firefox workflows and comment focus
  bitrise.yml
Due: workflow_1

Refactor MTE-2095 [v124] Consolidate bitrise.yml files
  bitrise.yml
Due: workflow_1

Fix layout
  firefox-ios/Client/AccessoryViewProvider.swift
Due: none

[focus-ios] Refactor Issue-4034 Update secrets name (https://github.com/mozilla-mobile/focus-ios/pull/4035)
  focus-ios/bitrise.yml
Due: none

Bugfix FXIOS-8397 [v124] App is crashing when moving a quick search engine (#18619)
  firefox-ios/Client/Frontend/Settings/SearchSettingsTableViewController.swift
Due: none

Refactor FXIOS-8388 [v124] Move ActionFooterView to Fakespot code (#18606)
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/ComponentLibrary.md
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.pbxproj
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  SampleComponentLibraryApp/SampleComponentLibraryApp/ActionFooterView/ActionFooterComponentViewModel.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/ActionFooterView/ActionFooterViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/Component/ComponentData.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Fakespot/Views/FakespotActionFooterView.swift
  firefox-ios/Client/Frontend/Fakespot/Views/FakespotSettingsCardView.swift
Due: none

Fix alignment for done button
  firefox-ios/Client/AccessoryViewProvider.swift
Due: none

[focus-ios] Fix the build instructions (https://github.com/mozilla-mobile/focus-ios/pull/4036)
  focus-ios/README.md
Due: none

Add a11y ids to keyboard accessory view items
  firefox-ios/Client/AccessoryViewProvider.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
Due: none

address reviewer comment
  bitrise.yml
Due: workflow_1

fix formatting for github action
  firefox-ios/Shared/Extensions/URLExtensions.swift
Due: none

add uri update script
  taskcluster/scripts/uri_update.py
Due: taskgraph-definition

add uri update workflow
  .github/workflows/firefox-ios-uri-update.yml
Due: none

fix workflow script path
  .github/workflows/firefox-ios-uri-update.yml
Due: none

add new token for workflow
  .github/workflows/firefox-ios-uri-update.yml
Due: none

PR review update
  firefox-ios/Client/AccessoryViewProvider.swift
Due: none

Bugfix FXIOS-8392 [v123.1] Convert cancel button to use default styling (#18623)
  firefox-ios/Client/Extensions/UIAlertController+Extension.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+TabToolbarDelegate.swift
  firefox-ios/Client/Frontend/Library/Bookmarks/BookmarksPanel.swift
  firefox-ios/Client/Frontend/Library/ClearHistorySheetProvider.swift
  firefox-ios/Client/Frontend/Settings/ClearPrivateDataTableViewController.swift
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Frontend/Widgets/PhotonActionSheet/PhotonActionSheet.swift
Due: none

update URI workflow PR title and commit
  .github/workflows/firefox-ios-uri-update.yml
Due: none

add default to version check to avoid script failure
  .github/workflows/firefox-ios-uri-update.yml
Due: none

update version port
  .github/workflows/firefox-ios-uri-update.yml
Due: none

changed enum in test
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Due: none

Add FXIOS-8109 [v124] Address Bar Impression Telemetry (#18507)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/SearchViewController.swift
  firefox-ios/Client/Telemetry/SearchTelemetry.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/TelemetryWrapperTests.swift
Due: none
