Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

taskcluster/ci/bitrise-trigger/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
loader: taskgraph.loader.transform:loader

transforms:
    - ffios_taskgraph.transforms.bitrise:transforms
    - ffios_taskgraph.transforms.secrets:transforms
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms


tasks:
    workflow_1:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "bitrise.yml"
    workflow_2:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "Tests/XCUITests/*"

cleanup
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
Due: none

Refactor FXIOS-6862 [v116] Rename logins to password manager (#15227)
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/PasswordManagement/AddCredentialViewController.swift
  Client/Frontend/PasswordManagement/BreachAlertsClient.swift
  Client/Frontend/PasswordManagement/BreachAlertsDetailView.swift
  Client/Frontend/PasswordManagement/BreachAlertsManager.swift
  Client/Frontend/PasswordManagement/Cells/LoginDetailCenteredTableViewCell.swift
  Client/Frontend/PasswordManagement/Cells/LoginDetailTableViewCell.swift
  Client/Frontend/PasswordManagement/Cells/PasswordManagerTableViewCell.swift
  Client/Frontend/PasswordManagement/DevicePasscodeRequiredViewController.swift
  Client/Frontend/PasswordManagement/LoginDataSource.swift
  Client/Frontend/PasswordManagement/LoginDetailViewControllerModel.swift
  Client/Frontend/PasswordManagement/LoginOnboarding.swift
  Client/Frontend/PasswordManagement/LoginOnboardingViewController.swift
  Client/Frontend/PasswordManagement/NoLoginsView.swift
  Client/Frontend/PasswordManagement/PasswordManagerDataSourceHelper.swift
  Client/Frontend/PasswordManagement/PasswordManagerSelectionHelper.swift
  Client/Frontend/PasswordManagement/PasswordManagerViewController.swift
  Client/Frontend/PasswordManagement/PasswordManagerViewModel.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/Main/Privacy/PasswordManagerSetting.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  Tests/ClientTests/PasswordManagerDataSourceHelperTests.swift
  Tests/ClientTests/PasswordManagerSelectionHelperTests.swift
  Tests/ClientTests/PasswordManagerViewModelTests.swift
Due: none

cleanup x2
  Client/Frontend/Browser/BrowserViewController.swift
Due: none

Add FXIOS-6547 [v116] Update strings based on l10n feedback (#15226)
  Client/Frontend/Strings.swift
Due: none

Localize FXIOS-6835 [v116] string update for biometrics screen when face id is unavailable (#15233)
  Client/Frontend/AuthenticationManager/AppAuthenticator.swift
  Client/Frontend/Strings.swift
Due: none

EnhancedTrackingProtectionMenuVM conflicts solving
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/EnhancedTrackingProtectionCoordinator.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Browser/EnhancedTrackingProtection/EnhancedTrackingProtectionVC.swift
  Client/Frontend/Browser/EnhancedTrackingProtection/EnhancedTrackingProtectionVM.swift
Due: none

performance tests and fixture update
  Tests/XCUITests/DatabaseFixtureTest.swift
  test-fixtures/testHistoryDatabase100-places.db
Due: workflow_2

Guarantee that sync is performed at least once (#15228)
  Tests/XCUITests/IntegrationTests.swift
Due: workflow_2

Update coarseValue for correct event
  Client/Application/AppLaunchUtil.swift
  Client/Application/UserConversionMetrics.swift
Due: none

Refactor FXIOS-6617 [v116] Privacy settings refactor (#15234)
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/Main/Privacy/AutofillCreditCardSettings.swift
  Client/Frontend/Settings/Main/Privacy/ClearPrivateDataSetting.swift
  Client/Frontend/Settings/Main/Privacy/ContentBlockerSetting.swift
  Client/Frontend/Settings/Main/Privacy/NotificationsSetting.swift
  Client/Frontend/Settings/Main/Privacy/PasswordManagerSetting.swift
  Client/Frontend/Settings/Main/Privacy/PrivacyPolicySetting.swift
  Client/Frontend/Settings/Main/Privacy/PrivacySettingsDelegate.swift
  Client/Frontend/Settings/SettingsTableViewController.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Due: none

Update Client/Application/UserConversionMetrics.swift
  Client/Application/UserConversionMetrics.swift
Due: none

Swiftlint spacing fix
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardTableViewController.swift
Due: none

Bugfix FXIOS-6830 [v115] Update coarseValue for correct event (#15242)
  Client/Application/AppLaunchUtil.swift
  Client/Application/UserConversionMetrics.swift
Due: none

Bugfix SYNC-3784 [v116] Fixes push for upgrades from v111 or older (#15231)
  Client/Application/AppDelegate+PushNotifications.swift
Due: none

Add initial password manager coordinator
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/PasswordManagerCoordinator.swift
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/PasswordManagement/PasswordManagerOnboardingViewController.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/Main/Privacy/PasswordManagerSetting.swift
  Tests/ClientTests/Coordinators/PasswordManagerCoordinatorTests.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Due: none

Fix tests
  Tests/ClientTests/Coordinators/PasswordManagerCoordinatorTests.swift
Due: none

Fix tests
  Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Due: none

Bugfix FXIOS-6807 [v116] UX updates and removed horizontal line from bottom sheet save / update card modal (#15235)
  Client/Frontend/Autofill/CreditCard/CreditCardBottomSheet/CreditCardBottomSheetViewController.swift
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardTableViewController.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/HostingTableViewCell.swift
Due: none

Update failing test
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
Due: none

Add FXIOS-6506 [v116] Handle EnhancedTrackingProtection presentation from coordinator (#15076)
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/Browser/BrowserNavigationHandler.swift
  Client/Coordinators/CoordinatorFlagManager.swift
  Client/Coordinators/EnhancedTrackingProtectionCoordinator.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Settings/SettingsTableViewController.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  Tests/ClientTests/Coordinators/EnhancedTrackingProtectionCoordinatorTests.swift
Due: none

Added FXIOS-6821 [v116] Add initial password manager coordinator (#15247)
  Client.xcodeproj/project.pbxproj
  Client/Coordinators/PasswordManagerCoordinator.swift
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/PasswordManagement/PasswordManagerOnboardingViewController.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/Main/Privacy/PasswordManagerSetting.swift
  Tests/ClientTests/Coordinators/PasswordManagerCoordinatorTests.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Due: none

Refactor account settings to use coordinator
  Client.xcodeproj/project.pbxproj
  Client/Application/AccessibilityIdentifiers.swift
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Settings/Main/About/VersionSetting.swift
  Client/Frontend/Settings/Main/Account/AccountSettingsDelegate.swift
  Client/Frontend/Settings/Main/Account/AccountStatusSetting.swift
  Client/Frontend/Settings/Main/Account/AdvancedAccountSettings.swift
  Client/Frontend/Settings/Main/Account/ChinaSyncServiceSetting.swift
  Client/Frontend/Settings/Main/Account/ConnectSetting.swift
  Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/Main/Debug/SentryIDSetting.swift
  Client/Frontend/Settings/Main/Debug/ToggleInactiveTabs.swift
  Client/Frontend/Settings/Main/SharedSettingsDelegate.swift
  Shared/NotificationConstants.swift
Due: none

Show VC from coordinator + add tests
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Settings/Main/Account/ConnectSetting.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
Due: none

Bugfix FXIOS-6789 [v116] enable scrolling for multiple cards in the saved cards screen (#15212)
  Client/Frontend/Autofill/CreditCard/CreditCardBottomSheet/CreditCardBottomSheetViewController.swift
Due: none

Bugfix FXIOS-6512 [v116] Make search suggestions scrollable on blank new tab setting
  Client/Frontend/Browser/BrowserViewController.swift
Due: none

move database fixture perf tests to tabsPerfTest
  Tests/XCUITests/DatabaseFixtureTest.swift
  Tests/XCUITests/TabsPerformanceTests.swift
Due: workflow_2

modify trigger map for testing perf test update
  bitrise.yml
Due: workflow_1

Adjust for missed pushed view controller from Account Status setting
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Settings/Main/Account/AccountSettingsDelegate.swift
  Client/Frontend/Settings/Main/Account/AccountStatusSetting.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  Tests/ClientTests/Mocks/MockSettingsFlowDelegate.swift
Due: none

fix: Fix padding and add corner radius
  Client/AccessoryViewProvider.swift
Due: none

refact: Add width parameter to setupSpacer method
  Client/AccessoryViewProvider.swift
Due: none

Change delegate pattern
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/LibraryCoordinator.swift
Due: none

Refactor FXIOS-6320 [v116] addressed PR comments (#14229)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Widgets/AutocompleteTextField.swift
Due: none

Add tests
  Tests/ClientTests/Coordinators/LibraryCoordinatorTests.swift
Due: none

fixes to the tests
  Tests/XCUITests/TabsPerformanceTests.swift
Due: workflow_2

increase timeout for bookmarks
  Tests/XCUITests/TabsPerformanceTests.swift
Due: workflow_2

wait for the bookmark list to be loaded before counting
  Tests/XCUITests/TabsPerformanceTests.swift
Due: workflow_2

extend timeout to 60 seconds
  Tests/XCUITests/TabsPerformanceTests.swift
Due: workflow_2

remove dupe test
  Tests/XCUITests/DatabaseFixtureTest.swift
Due: workflow_2
