Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

taskcluster/ci/bitrise-trigger/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
loader: taskgraph.loader.transform:loader

transforms:
    - ffios_taskgraph.transforms.bitrise:transforms
    - ffios_taskgraph.transforms.secrets:transforms
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms


tasks:
    workflow_1:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "bitrise.yml"
    workflow_2:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "Tests/XCUITests/*"

skip decision to run ui on merge from release branch
  bitrise.yml
Due: workflow_1

Inject flag to make sure we control test cases
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Due: none

Rename topPresentedViewController + remove comformance to UIViewcontroller so NavigationController is truly a mock
  Client/Coordinators/Router/DefaultRouter.swift
  Client/Protocols/NavigationController.swift
  Tests/ClientTests/Coordinators/DefaultRouterTests.swift
  Tests/ClientTests/Mocks/MockNavigationController.swift
Due: none

Bug MTE-1119 [v115] Disable UI Test Decision for Merge from Release Branch (#14758)
  bitrise.yml
Due: workflow_1

Turn off parallel testing
  bitrise.yml
Due: workflow_1

Used GleanWrapper in AppSettingsOptions
  Client/Frontend/Settings/AppSettingsOptions.swift
  Client/Telemetry/GleanWrapper.swift
Due: none

Create Store, StoreType and Subscription
  BrowserKit/Sources/Redux/Store.swift
  BrowserKit/Sources/Redux/StoreType.swift
  BrowserKit/Sources/Redux/Subscription.swift
Due: none

clean up
  BrowserKit/Sources/Redux/Store.swift
Due: none

Add documentation and rename components
  BrowserKit/Sources/Redux/DispatchStore.swift
  BrowserKit/Sources/Redux/Store.swift
Due: none

Fix build errors
  BrowserKit/Sources/Redux/Store.swift
  BrowserKit/Sources/Redux/StoreSubscriber.swift
Due: none

Create Wrapper directly on subscribe function
  BrowserKit/Sources/Redux/Store.swift
Due: none

Update days-before-pr-stale
  .github/workflows/stale.yml
Due: none

Remove parallel testing code
  bitrise.yml
Due: workflow_1

Cleanup
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/TabContentsScripts/CreditCardHelper.swift
Due: none

Remove parallel testing for smoke test 4.
  bitrise.yml
Due: workflow_1

Refactor [v115] Update days-before-pr-stale (#14760)
  .github/workflows/stale.yml
Due: none

Reslove conflicts
  Client/Frontend/Browser/BrowserViewController.swift
Due: none

Add FXIOS-6503 [v116] Store and StoreSubscriber for Redux implementation (#14725)
  BrowserKit/Sources/Redux/DispatchStore.swift
  BrowserKit/Sources/Redux/Store.swift
  BrowserKit/Sources/Redux/StoreSubscriber.swift
  BrowserKit/Sources/Redux/Subscription.swift
Due: none

Delete legacy wallpaper
  Client.xcodeproj/project.pbxproj
  Client/Application/AppLaunchUtil.swift
  Client/FeatureFlags/FeatureFlagUserPrefsMigrationUtility.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaper.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaperDataManager.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaperManager.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaperResourceManager.swift
  Client/Frontend/Home/Wallpapers/Legacy/Protocols/LegacyWallpaperFilePathProtocol.swift
  Client/Frontend/Home/Wallpapers/Legacy/Utilities/LegacyWallpaperMigrationUtility.swift
  Client/Frontend/Home/Wallpapers/Legacy/Utilities/LegacyWallpaperNetworkUtility.swift
  Client/Frontend/Home/Wallpapers/Legacy/Utilities/LegacyWallpaperStorageUtility.swift
  Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperMigrationUtility.swift
  Tests/ClientTests/FeatureFlagsUserPrefsMigrationUtilityTests.swift
  Tests/ClientTests/Wallpaper/WallpaperMigrationUtilityTests.swift
Due: none

Delete legacy feature flags
  Client.xcodeproj/project.pbxproj
  Client/Application/AppLaunchUtil.swift
  Shared/Prefs.swift
  Tests/ClientTests/Wallpaper/WallpaperMigrationUtilityTests.swift
Due: none

Refactor FXIOS-6534 [v116] Settings coordinator deinit (#14730)
  Client/Application/AccessibilityIdentifiers.swift
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/Router/DefaultRouter.swift
  Client/Coordinators/SettingsCoordinator.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/EnhancedTrackingProtection/EnhancedTrackingProtectionVC.swift
  Client/Frontend/Browser/Tabs/GridTabViewController.swift
  Client/Frontend/Settings/AppSettingsTableViewController.swift
  Client/Frontend/Settings/SettingsTableViewController.swift
  Client/Protocols/NavigationController.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
  Tests/ClientTests/Coordinators/DefaultRouterTests.swift
  Tests/ClientTests/Coordinators/SettingsCoordinatorTests.swift
  Tests/ClientTests/Mocks/MockNavigationController.swift
  Tests/ClientTests/Mocks/MockRouter.swift
  Tests/UITests/Global.swift
  Tests/UITests/LoginManagerTests.swift
  Tests/XCUITests/NavigationTest.swift
  Tests/XCUITests/PrivateBrowsingTest.swift
  Tests/XCUITests/SearchTest.swift
  Tests/XCUITests/SettingsTest.swift
  Tests/XCUITests/ThirdPartySearchTest.swift
  Tests/XCUITests/TrackingProtectionTests.swift
Due: workflow_2

Revert "Used GleanWrapper in AppSettingsOptions"
  Client/Frontend/Settings/AppSettingsOptions.swift
  Client/Telemetry/GleanWrapper.swift
Due: none

update initial_experiments.json based on the current first-run experiments in experimenter
  Client/Experiments/initial_experiments.json
Due: none

Revert "pocket placeholder"
  Client/Frontend/Home/PocketFooterView.swift
  Client/Frontend/Strings.swift
  Shared/AppConstants.swift
Due: none

Add MTE-876 [v115] Adjust Fennec_Enterprise browser entitlement step for archiving (#14755)
  bitrise.yml
Due: workflow_1

Add MTE-1092 [v115] Open Tabs in Search Suggestions test
  Tests/Fennec_Enterprise_XCUITests.xctestplan
  Tests/XCUITests/BaseTestCase.swift
  Tests/XCUITests/SearchTest.swift
Due: workflow_2

Fix Swiftlint warning
  Client/Frontend/Settings/LoginDetailViewController.swift
Due: none

Address PR comment
  Client/Frontend/LoginManagement/Cells/LoginDetailTableViewCell.swift
Due: none

Remove FXIOS-4359 [v116] Remove legacy wallpaper and feature flags (#14737)
  Client.xcodeproj/project.pbxproj
  Client/Application/AppLaunchUtil.swift
  Client/FeatureFlags/FeatureFlagUserPrefsMigrationUtility.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaper.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaperDataManager.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaperManager.swift
  Client/Frontend/Home/Wallpapers/Legacy/LegacyWallpaperResourceManager.swift
  Client/Frontend/Home/Wallpapers/Legacy/Protocols/LegacyWallpaperFilePathProtocol.swift
  Client/Frontend/Home/Wallpapers/Legacy/Utilities/LegacyWallpaperMigrationUtility.swift
  Client/Frontend/Home/Wallpapers/Legacy/Utilities/LegacyWallpaperNetworkUtility.swift
  Client/Frontend/Home/Wallpapers/Legacy/Utilities/LegacyWallpaperStorageUtility.swift
  Client/Frontend/Home/Wallpapers/v1/Interface/WallpaperManager.swift
  Client/Frontend/Home/Wallpapers/v1/Utilities/WallpaperMigrationUtility.swift
  Shared/Prefs.swift
  Tests/ClientTests/FeatureFlagsUserPrefsMigrationUtilityTests.swift
  Tests/ClientTests/Wallpaper/WallpaperMigrationUtilityTests.swift
Due: none

Bugfix MTE-1121 [v116] Disable parallel testing for smoke tests (#14768)
  bitrise.yml
Due: workflow_1

Refactor FXIOS-6111 [v116] added unit tests and the main actions #14549
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Autofill/CreditCard/CreditCardBottomSheet/SingleCreditCardView.swift
  Client/Frontend/Autofill/CreditCard/CreditCardBottomSheet/SingleCreditCardViewModel.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Storage/Rust/RustAutofill.swift
  Tests/ClientTests/CreditCard/CreditCardSingleViewModelTests.swift
Due: none

Refactor FXIOS-5736 [v116] quality of life ux improvements for credit card settings (#14679)
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardInputView.swift
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardItemRow.swift
  Client/Frontend/Autofill/CreditCard/CreditCardSettingsView/CreditCardSettingsViewController.swift
  Client/Frontend/Settings/AppSettingsTableViewController.swift
Due: none

Refactor FXIOS-6584 [v116] credit card js event issue fix (#14739)
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/TabContentsScripts/CreditCardHelper.swift
  Client/Frontend/UserContent/UserScripts/AllFrames/AutofillAtDocumentStart/CreditCardHelper.js
  Tests/ClientTests/CreditCard/CreditCardHelperTests.swift
Due: none

Fix and add version setting test + create Settings test folder
  Client.xcodeproj/project.pbxproj
  Tests/ClientTests/Mocks/MockAppSettingsDelegate.swift
  Tests/ClientTests/Settings/SearchBarSettingsViewModelTests.swift
  Tests/ClientTests/Settings/VersionSettingTests.swift
  Tests/ClientTests/VersionSettingTests.swift
Due: none

Clean up debug options in AppSettingsOptions
  Client.xcodeproj/project.pbxproj
  Client/Frontend/Settings/Main/AppSettingsOptions.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/Main/Debug/AdvancedAccountSettings.swift
  Client/Frontend/Settings/Main/Debug/AppReviewPromptSetting.swift
  Client/Frontend/Settings/Main/Debug/ChangeToChinaSetting.swift
  Client/Frontend/Settings/Main/Debug/DeleteExportedDataSetting.swift
  Client/Frontend/Settings/Main/Debug/ExperimentsSettings.swift
  Client/Frontend/Settings/Main/Debug/ExportBrowserDataSetting.swift
  Client/Frontend/Settings/Main/Debug/ExportLogDataSetting.swift
  Client/Frontend/Settings/Main/Debug/FasterInactiveTabs.swift
  Client/Frontend/Settings/Main/Debug/ForceCrashSetting.swift
  Client/Frontend/Settings/Main/Debug/ForgetSyncAuthStateDebugSetting.swift
  Client/Frontend/Settings/Main/Debug/HiddenSettings.swift
  Client/Frontend/Settings/Main/Debug/OpenFiftyTabsDebugOption.swift
  Client/Frontend/Settings/Main/Debug/ResetContextualHints.swift
  Client/Frontend/Settings/Main/Debug/ResetWallpaperOnboardingPage.swift
  Client/Frontend/Settings/Main/Debug/SentryIDSetting.swift
  Client/Frontend/Settings/Main/Debug/ToggleHistoryGroups.swift
  Client/Frontend/Settings/Main/Debug/ToggleInactiveTabs.swift
  Client/Frontend/Settings/Main/Debug/TogglePullToRefresh.swift
  Shared/GeneralUtils.swift
  Storage/ThirdParty/SwiftData.swift
Due: none

Remove comment
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
Due: none

Remove secondary database connection
  Storage/ThirdParty/SwiftData.swift
  Tests/StorageTests/TestBrowserDB.swift
Due: none

Use async
  Storage/ThirdParty/SwiftData.swift
Due: none
