Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

PR updates
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Frontend/Fakespot/FakespotCoordinator.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Due: none

Bugfix FXIOS-6891 [v118] Sync notification setting must mimic the Firefox notification setting when the user logs in for the first time (#15336)
  Client/OnboardingNotificationCardHelper.swift
  RustFxA/FirefoxAccountSignInViewController.swift
  RustFxA/FxAWebViewModel.swift
  Tests/ClientTests/NotificationSurface/OnboardingNotificationCardHelperTests.swift
Due: none

Add MTE-1462 [V118] new tab url bar test
  Client.xcodeproj/project.pbxproj
  Tests/ExperimentIntegrationTests.xctestplan
  Tests/PerformanceTestPlan.xctestplan
  Tests/SmokeXCUITests.xctestplan
  Tests/Smoketest2.xctestplan
  Tests/Smoketest3.xctestplan
  Tests/Smoketest4.xctestplan
  Tests/SyncIntegrationTestPlan.xctestplan
  Tests/XCUITests/UrlBarTests.swift
Due: workflow_2

addressed PR comments
  Client/OnboardingNotificationCardHelper.swift
  RustFxA/FirefoxAccountSignInViewController.swift
  Tests/ClientTests/NotificationSurface/OnboardingNotificationCardHelperTests.swift
Due: none

Implement NoAnalysisCardView
  Client.xcodeproj/project.pbxproj
  Client/Application/AccessibilityIdentifiers.swift
  Client/Application/ImageIdentifiers.swift
  Client/Assets/Images.xcassets/Shopping/Contents.json
  Client/Assets/Images.xcassets/Shopping/shoppingNoAnalysisImage.imageset/Contents.json
  Client/Assets/Images.xcassets/Shopping/shoppingNoAnalysisImage.imageset/shoppingNoAnalysisImage.pdf
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/Views/NoAnalysisCardView.swift
  Client/Frontend/Strings.swift
Due: none

Update MTE-1463 [v118] navigation browser tab smoke test (#16184)
  Tests/XCUITests/NavigationTest.swift
Due: workflow_2

Add MTE-1462 [V118] new tab url bar test (#16182)
  Client.xcodeproj/project.pbxproj
  Tests/ExperimentIntegrationTests.xctestplan
  Tests/PerformanceTestPlan.xctestplan
  Tests/SmokeXCUITests.xctestplan
  Tests/Smoketest2.xctestplan
  Tests/Smoketest3.xctestplan
  Tests/Smoketest4.xctestplan
  Tests/SyncIntegrationTestPlan.xctestplan
  Tests/XCUITests/UrlBarTests.swift
Due: workflow_2

Add openClearRecentSearch key command to history coordinator
  Client/Coordinators/Library/HistoryCoordinator.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+KeyCommands.swift
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  Tests/ClientTests/Coordinators/Library/HistoryCoordinatorTests.swift
  nimbus-features/libraryCoordinatorRefactor.yaml
Due: none

Restore libraryCoordinatorRefactor to false
  nimbus-features/libraryCoordinatorRefactor.yaml
Due: none

Implement a temporary ping for analysis of the baseline ping behavior
  Client/Application/AppDelegate.swift
  Client/metrics.yaml
  Client/pings.yaml
  Shared/AppConstants.swift
Due: none

Bump [v119] Set version to 119.0
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

Bump [v119] Set version to 119.0 (#16197)
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

Bump [v118] Upgrades appservices to 118.0
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Bump [v118] Upgrades appservices to 118.0 (#16200)
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

FXIOS-6976 #15481 Create view model for Review quality check content
  Client/Coordinators/Browser/BrowserCoordinator.swift
  Client/Coordinators/Browser/BrowserNavigationHandler.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Fakespot/FakespotCoordinator.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/FakespotViewModel.swift
Due: none

Bump [v117] Set version to 117.1
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

Bump [v117] Set version to 117.1 (#16202)
  Client/Info.plist
  CredentialProvider/Info.plist
  Extensions/NotificationService/Info.plist
  Extensions/ShareTo/Info.plist
  WidgetKit/Info.plist
  bitrise.yml
Due: workflow_1

Add MTE-1475 [v119] Firebase Test Lab: iOS deprecation
  bitrise.yml
Due: workflow_1

Add MTE-1475 [v119] Firebase Test Lab: iOS deprecation (#16205)
  bitrise.yml
Due: workflow_1

Remove tab tray groups
  Client.xcodeproj/project.pbxproj
  Client/Application/UITestAppDelegate.swift
  Client/FeatureFlags/NimbusFlaggableFeature.swift
  Client/Frontend/Browser/TabDisplayManager.swift
  Client/Frontend/Browser/Tabs/GridTabViewController.swift
  Client/Frontend/Browser/Tabs/GroupedTabCell.swift
  Client/Frontend/Browser/Tabs/TabLayoutDelegate.swift
  Client/Frontend/Home/JumpBackIn/Data/JumpBackInDataAdaptor.swift
  Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  Client/Frontend/Settings/TabsSettingsViewControler.swift
  Client/Nimbus/NimbusFeatureFlagLayer.swift
  L10nSnapshotTests/L10nBaseSnapshotTests.swift
  L10nSnapshotTests/L10nSuite1SnapshotTests.swift
  Shared/LaunchArguments.swift
  Tests/ClientTests/FeatureFlagManagerTests.swift
  Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInDataAdaptorTests.swift
  Tests/XCUITests/BaseTestCase.swift
  Tests/XCUITests/DatabaseFixtureTest.swift
  Tests/XCUITests/DomainAutocompleteTest.swift
  Tests/XCUITests/DragAndDropTests.swift
  Tests/XCUITests/HistoryTests.swift
  Tests/XCUITests/HomePageSettingsUITest.swift
  Tests/XCUITests/IntegrationTests.swift
  Tests/XCUITests/ScreenGraphTest.swift
Due: workflow_2

Remove from jump back in
  Client/Frontend/Home/HomepageViewController.swift
  Client/Frontend/Home/JumpBackIn/Data/JumpBackInList.swift
  Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
Due: none

Add rule
  .swiftlint.yml
Due: none

Fix warnings
  Account/TokenServerClient.swift
  BrowserKit/Sources/Common/DependencyInjection/AppContainer.swift
  BrowserKit/Sources/ComponentLibrary/CollapsibleCardView.swift
  BrowserKit/Sources/ComponentLibrary/ResizableButton.swift
  BrowserKit/Sources/SiteImageView/FaviconImageView.swift
  BrowserKit/Sources/SiteImageView/HeroImageView.swift
  Client/Frontend/Browser/SearchSuggestClient.swift
  Client/Frontend/Home/TopSites/Cell/EmptyTopSiteCell.swift
  Client/Frontend/Library/Downloads/DownloadedFile.swift
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  Client/Frontend/PasswordManagement/BreachAlertsManager.swift
  Client/Frontend/Settings/SettingsLoadingView.swift
  Client/Frontend/Toolbar+URLBar/StatefulButton.swift
  Client/Frontend/Toolbar+URLBar/TabToolbar.swift
  Client/Frontend/Toolbar+URLBar/URLBarView.swift
  Client/Frontend/Widgets/GradientProgressBar.swift
  Client/Frontend/Widgets/SiteTableViewController.swift
  Client/Frontend/Widgets/ToggleButton.swift
  Client/TabManagement/Legacy/LegacyTabManager.swift
  Client/TabManagement/Tab.swift
  Client/Utils/ConfigurableGradientView.swift
  CredentialProvider/Cells/EmptyPlaceholderCell.swift
  CredentialProvider/Cells/NoSearchResultCell.swift
  CredentialProvider/Cells/SelectPasswordCell.swift
  CredentialProvider/CredentialListViewController.swift
  CredentialProvider/CredentialPasscodeRequirementViewController.swift
  CredentialProvider/CredentialWelcomeViewController.swift
  Providers/Pocket/PocketProvider.swift
  Push/PushRegistration.swift
  Push/PushRegistrationAPI.swift
  Shared/DateGroupedTableData.swift
  Shared/Theme/DefaultThemeManager.swift
  Storage/Cursor.swift
  Storage/RecentlyClosedTabs.swift
  Storage/SQL/BrowserDB.swift
  Storage/SQL/SQLiteMetadata.swift
  Storage/SQL/SQLiteReadingList.swift
  Storage/Visit.swift
  Tests/ClientTests/Mocks/MockProfile.swift
  ThirdParty/ecec/src/keys.c
Due: none

Add MTE-1464 [V119] search engine logo test
  Tests/XCUITests/UrlBarTests.swift
Due: workflow_2

Add FXIOS-7298 [v117.1] Implement a temporary ping for analysis of the baseline ping behavior (#16196)
  Client/Application/AppDelegate.swift
  Client/metrics.yaml
  Client/pings.yaml
  Shared/AppConstants.swift
Due: none

Add FXIOS-6964 [v119] #15469 Create adjusted rating card (#16097)
  Client.xcodeproj/project.pbxproj
  Client/Application/AccessibilityIdentifiers.swift
  Client/Assets/Images.xcassets/bookmarkHalfLarge.imageset/Contents.json
  Client/Assets/Images.xcassets/bookmarkHalfLarge.imageset/bookmarkHalfLarge.pdf
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/Views/AdjustRatingView.swift
  Client/Frontend/Fakespot/Views/StarRatingView.swift
  Client/Frontend/Strings.swift
Due: none

fixed failing test
  Tests/ClientTests/NotificationSurface/OnboardingNotificationCardHelperTests.swift
Due: none

added the nimbus config to the other test as well
  Tests/ClientTests/NotificationSurface/OnboardingNotificationCardHelperTests.swift
Due: none

Add FXIOS-6610 [v119] openClearRecentSearch key command to history coordinator (#16192)
  Client/Coordinators/Library/HistoryCoordinator.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+KeyCommands.swift
  Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  Tests/ClientTests/Coordinators/Library/HistoryCoordinatorTests.swift
Due: none

Notify coordinator if controller is dismissed by swipe or tapping outside.
  Client/Frontend/Fakespot/FakespotCoordinator.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Tests/ClientTests/Coordinators/BrowserCoordinatorTests.swift
Due: none

Update Client/Frontend/Browser/Tabs/GridTabViewController.swift
  Client/Frontend/Browser/Tabs/GridTabViewController.swift
Due: none

Bugfix FXIOS-6891 [v119] Sync notification setting must mimic the Firefox notification setting when the user logs in for the first time (#15336) (#16187)
  Client/OnboardingNotificationCardHelper.swift
  RustFxA/FirefoxAccountSignInViewController.swift
  RustFxA/FxAWebViewModel.swift
  Tests/ClientTests/NotificationSurface/OnboardingNotificationCardHelperTests.swift
Due: none

Remove UI test
  Tests/XCUITests/JumpBackInTests.swift
Due: workflow_2

Enable LibraryCoordinator refactor
  nimbus-features/libraryCoordinatorRefactor.yaml
Due: none

Fix lint error
  Tests/ClientTests/Coordinators/Library/HistoryCoordinatorTests.swift
Due: none

Enable ShareExtensionCoordinator feature
  nimbus-features/shareExtensionCoordinatorRefactor.yaml
Due: none

Add FakespotCoordinatorTests
  Client.xcodeproj/project.pbxproj
  Tests/ClientTests/Coordinators/FakespotCoordinatorTests.swift
Due: none

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
