Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2, taskgraph-definition

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

taskgraph-definition:
  worker-type: misc
  worker:
    docker-image:
      in-tree: alpine
    max-run-time: 1800
  description: Test the full `firefox_ios_taskgraph` to validate the latest changes
  treeherder:
    symbol: test-taskgraph-definition
    kind: test
    platform: tests/opt
    tier: 1
  run:
    using: run-task
    use-caches: true
  ...

Remove [v124] Clean up unused sponsored pocket flag (#18314)
  firefox-ios/nimbus-features/homescreenFeature.yaml
Due: none

Ensure password field appears. Sync could be slow. :(
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Due: none

Bugfix FXIOS-6040 [v123] Review Download.swift file delegate to be weak (#18248)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/DownloadQueue.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/DownloadTests.swift
Due: none

Remove FXIOS-8239 [v124] QR code feature flag (#18319)
  firefox-ios/Client/Coordinators/CoordinatorFlagManager.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/QRCodeViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/RustFxA/FirefoxAccountSignInViewController.swift
  firefox-ios/nimbus-features/qrCodeCoordinatorRefactor.yaml
  firefox-ios/nimbus.fml.yaml
Due: none

BUG FIX
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
Due: none

Add FXIOS-8106 [v124] WKUIDelegate in WebEngine groundwork (#18325)
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineSession.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKEngineWebView.swift
Due: none

Run the test in question on Bitrise 1000 times.
  bitrise.yml
Due: workflow_1

Missing quote :(
  bitrise.yml
Due: workflow_1

Try more quotes again for bitrise :(
  bitrise.yml
Due: workflow_1

Running the whole test file 100 times
  bitrise.yml
Due: workflow_1

Upgrades appservices to 123.0.0 (#18286)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Revert temporary change
  bitrise.yml
Due: workflow_1

UI updates for ShareTo extension to correct inconsistencies.
  firefox-ios/Client/Frontend/DevicePickerTableViewCell.swift
  firefox-ios/Client/Frontend/DevicePickerTableViewHeaderCell.swift
  firefox-ios/Client/Frontend/Extensions/DevicePickerViewController.swift
  firefox-ios/Extensions/ShareTo/ShareViewController.swift
Due: none

chore: add addressmetadata files to mozilla-central pull script
  firefox-ios/Client/Assets/CC_Script/CC_Python_Update.py
Due: none

Bugfix FXIOS-8225 [v124] Unit Test Failure: testUpdateEnginePrefs_addressesDisabled (#18327)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/RustSyncManagerTests.swift
Due: none

[focus-ios] Add workflows for release - align with firefox (https://github.com/mozilla-mobile/focus-ios/issues/3986)
  focus-ios/bitrise.yml
Due: none

Fix warning
  firefox-ios/Client/Frontend/Fakespot/Client/FakeSpotClient.swift
  firefox-ios/Client/Frontend/Fakespot/ShoppingProduct.swift
Due: none

Add empty AccountSyncMiddleware class and SettingsAccountState, SettingsAccountAction structs.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Client/Frontend/Settings/AccountSyncSettings/AccountSyncMiddleware.swift
  firefox-ios/Client/Frontend/Settings/AccountSyncSettings/SettingsAccountAction.swift
  firefox-ios/Client/Frontend/Settings/AccountSyncSettings/SettingsAccountState.swift
  firefox-ios/Client/Frontend/Settings/AccountSyncSettings/SyncContentSettingsViewController.swift
Due: none

Initial implementation of SettingsAccountState. Subscribe of SyncContentSettingsViewController to substate of type SettingsAccountState. Add accountSettingsDidLoad action.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  firefox-ios/Client/Frontend/Settings/AccountSettings/AccountSyncMiddleware.swift
  firefox-ios/Client/Frontend/Settings/AccountSettings/SettingsAccountAction.swift
  firefox-ios/Client/Frontend/Settings/AccountSettings/SettingsAccountState.swift
  firefox-ios/Client/Frontend/Settings/AccountSettings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/AccountSyncSettings/SettingsAccountState.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenAction.swift
  firefox-ios/Client/Redux/GlobalState/ActiveScreenState.swift
Due: none

Build FXIOS-8134 [v124] Stop setting dummy secrets for bitrise-trigger tasks (#18287)
  taskcluster/ffios_taskgraph/job.py
  taskcluster/ffios_taskgraph/transforms/bitrise.py
  taskcluster/ffios_taskgraph/transforms/secrets.py
  taskcluster/kinds/bitrise-performance/kind.yml
  taskcluster/kinds/build/kind.yml
  taskcluster/kinds/firebase-performance/kind.yml
  taskcluster/kinds/generate-screenshots/kind.yml
  taskcluster/scripts/write-dummy-secret.py
Due: taskgraph-definition

Bugix MTE-2184 [v124] Ensure password securefield available (#18326)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Due: none

Refactor FXIOS-8229 [v123] Compositional layout refresh data on homepage (#18309)
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/CustomizeHome/CustomizeHomepageSectionViewModel.swift
  firefox-ios/Client/Frontend/Home/HistoryHighlights/HistoryHighlightsViewModel.swift
  firefox-ios/Client/Frontend/Home/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModelProtocol.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInSectionLayout.swift
  firefox-ios/Client/Frontend/Home/JumpBackIn/JumpBackInViewModel.swift
  firefox-ios/Client/Frontend/Home/LogoHeader/HomeLogoHeaderViewModel.swift
  firefox-ios/Client/Frontend/Home/MessageCard/HomepageMessageCardViewModel.swift
  firefox-ios/Client/Frontend/Home/Pocket/PocketViewModel.swift
  firefox-ios/Client/Frontend/Home/RecentlySaved/RecentlySavedViewModel.swift
  firefox-ios/Client/Frontend/Home/TopSites/TopSitesViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Home/JumpBackIn/JumpBackInViewModelTests.swift
Due: none

Refactor FXIOS-6730 [v124] Remove history groups flag (#18313)
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanel.swift
  firefox-ios/Client/Frontend/Library/HistoryPanel/HistoryPanelViewModel.swift
  firefox-ios/Client/Frontend/Settings/Main/AppSettingsTableViewController.swift
  firefox-ios/Client/Frontend/Settings/Main/Debug/ToggleHistoryGroups.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Shared/Prefs.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/FeatureFlagManagerTests.swift
  firefox-ios/nimbus-features/searchTermGroupsFeature.yaml
  firefox-ios/nimbus.fml.yaml
Due: none

add a line
  firefox-ios/Client/Frontend/Browser/SearchViewController.swift
Due: none

Fix the bug
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Due: none

Bugfix FXIOS-8124 [v123] Custom search engine telemetry (#18343)
  firefox-ios/Client/Frontend/Browser/SearchViewController.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
Due: none

Track why the URL bar leaves overlay mode.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Home/HomepageViewController.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/OverlayModeManager.swift
  firefox-ios/Client/Frontend/Toolbar+URLBar/URLBarView.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockURLBarView.swift
Due: none

WKUIdelegate tests
  BrowserKit/Tests/WebEngineTests/Mock/MockWKEngineWebView.swift
  BrowserKit/Tests/WebEngineTests/WKEngineSessionTests.swift
Due: none

Initial commit
  SampleBrowser/README.md
  bitrise.yml
  firefox-ios/README.md
Due: workflow_1

Bump [v124] Update Sentry to version 8.19.0
  BrowserKit/Package.swift
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

[focus-ios] Update Sentry to version 8.19.0
  focus-ios/focus-ios/Blockzilla.xcodeproj/project.pbxproj
  focus-ios/focus-ios/Blockzilla.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Record Category 2.5 impressions for Firefox Suggestions.
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Extensions/BrowserViewController+URLBarDelegate.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/SearchViewController.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Storage/Rust/RustFirefoxSuggestion.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Due: none

Add an `fx_suggest.is_clicked` Boolean metric.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Telemetry/TelemetryWrapper.swift
  firefox-ios/Client/metrics.yaml
  firefox-ios/firefox-ios-tests/Tests/ClientTests/BrowserViewControllerTests.swift
Due: none

Fix MTE-2202 [v124] onboarding failing smoke tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/OnboardingTests.swift
Due: none

Update warning icon
  firefox-ios/Client.xcodeproj/project.pbxproj
  firefox-ios/Client/Application/ImageIdentifiers.swift
  firefox-ios/Client/Assets/Images.xcassets/Breached Website.imageset/Contents.json
  firefox-ios/Client/Assets/Images.xcassets/Breached Website.imageset/Group-1.pdf
  firefox-ios/Client/Frontend/PasswordManagement/BreachAlertsDetailView.swift
  firefox-ios/Client/Frontend/PasswordManagement/Cells/PasswordManagerTableViewCell.swift
  firefox-ios/Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/AmberCaution.imageset/AmberCaution.png
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/AmberCaution.imageset/AmberCaution@2x.png
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/AmberCaution.imageset/AmberCaution@3x.png
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/AmberCaution.imageset/Contents.json
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/Contents.json
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/RedCaution.imageset/Contents.json
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/RedCaution.imageset/RedCaution.png
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/RedCaution.imageset/RedCaution@2x.png
  firefox-ios/Client/Frontend/Settings/Settings.xcassets/RedCaution.imageset/RedCaution@3x.png
Due: none

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
  taskgraph-definition: any of: taskcluster/**
