Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2, taskgraph-definition

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

taskgraph-definition:
  worker-type: misc
  worker:
    docker-image:
      in-tree: alpine
    max-run-time: 1800
  description: Test the full `firefox_ios_taskgraph` to validate the latest changes
  treeherder:
    symbol: test-taskgraph-definition
    kind: test
    platform: tests/opt
    tier: 1
  run:
    using: run-task
    use-caches: true
  ...

removing scopes
  taskcluster/kinds/build/kind.yml
Due: taskgraph-definition

add skip-unless-changed
  taskcluster/kinds/build/kind.yml
Due: taskgraph-definition

add a workflow to build from TC
  bitrise.yml
  taskcluster/kinds/build/kind.yml
Due: workflow_1, taskgraph-definition

add taskcluster
  taskcluster/kinds/build/kind.yml
Due: taskgraph-definition

run task for push
  taskcluster/kinds/build/kind.yml
Due: taskgraph-definition

adding focus workflow
  bitrise.yml
  taskcluster/kinds/build/kind.yml
Due: workflow_1, taskgraph-definition

testing focus workflow
  bitrise.yml
Due: workflow_1

FXIOS-9033 #19949 ⁃ [intermittent] Extra space is added under the shortcuts section when switching from landscape to portrait mode
  firefox-ios/Client/Frontend/Home/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
Due: none

FXIOS-9173 #20319 x.com website loading glitch after FF update
  firefox-ios/Client/ContentBlocker/ContentBlocker.swift
  firefox-ios/Client/Frontend/Browser/FirefoxTabContentBlocker.swift
Due: none

Document FXIOS-9187 - Update README setup instructions (#20399)
  firefox-ios/README.md
Due: none

Workaround for keyboard issue.
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Due: none

Put sleep() in if statement
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
Due: none

Temporarily bump the number of warnings. :(
  test-fixtures/generate-metrics.sh
Due: none

Use redux for back,forward buttons state
  firefox-ios/Client/Frontend/Browser/BrowserViewController/State/BrowserViewControllerState.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Due: none

Intermittent issue on iOS 15 only
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Due: none

Better private func for other LoginTest
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Due: none

Bugfix FXIOS-9033 ⁃ [intermittent] Extra space is added under the shortcuts section when switching from landscape to portrait mode (#20422)
  firefox-ios/Client/Frontend/Home/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/HomepageViewModel.swift
Due: none

Fix MTE-2882 - testFindFromMenu smoke test
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Due: none

Swiftlint fix
  firefox-ios/Client/Frontend/Autofill/Address/Edit/EditAddressLocalization.swift
Due: none

Fix Swiftlint errors
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarAction.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarState.swift
Due: none

Remove redundant webView
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Due: none

Remove redundant webview in webview.canGoForward call
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Due: none

Fix Swiftlint error
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Due: none

Fix MTE-2882 - testFindFromMenu smoke test (#20430)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FindInPageTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
Due: none

Add FXIOS-9100 Add necessary strings for address autofill (#20385)
  firefox-ios/Client/Frontend/Autofill/Address/AddressListView.swift
  firefox-ios/Client/Frontend/Autofill/Address/Edit/EditAddressLocalization.swift
  firefox-ios/Client/Frontend/Strings.swift
Due: none

feat: add support for theming
  firefox-ios/Client/Frontend/UserContent/UserScripts/AddressFormManager/AddressFormManager.css
  firefox-ios/Client/Frontend/UserContent/UserScripts/AddressFormManager/AddressFormManager.mjs
Due: none

chore: remove todo
  firefox-ios/Client/Frontend/UserContent/UserScripts/AddressFormManager/AddressFormManager.mjs
Due: none

Finished PR
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewModel.swift
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Coordinators/AddressAutofillCoordinator.swift
  firefox-ios/Client/Coordinators/CredentialAutofillCoordinator.swift
  firefox-ios/Client/Frontend/Home/HomepageViewController.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingCardDelegate.swift
Due: none

Bugfix MTE-2679 Firefox iOS smoke tests for iOS 15 (#20406)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/CreditCardsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/DesktopModeTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/LoginsTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/PhotonActionSheetTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SearchTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TopTabsTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/TrackingProtectionTests.swift
  test-fixtures/generate-metrics.sh
Due: none

Bump - Set version to 126.3
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Due: workflow_1

Add FXIOS-9227 enhanced tracking protection flow strings (#20443)
  firefox-ios/Client/Frontend/Strings.swift
Due: none

Add FXIOS-9217 - Edit Address Theming Support (#20427)
  firefox-ios/Client/Frontend/UserContent/UserScripts/AddressFormManager/AddressFormManager.css
  firefox-ios/Client/Frontend/UserContent/UserScripts/AddressFormManager/AddressFormManager.mjs
Due: none

added the strings to a struct and inserted a tableName for them
  firefox-ios/Client/Frontend/Strings.swift
Due: none

added a version number and changed the Firefox mention with a placeholder, also made the tableName and struct name identical
  firefox-ios/Client/Frontend/Strings.swift
Due: none

Bump - Set version to 126.3 (#20440)
  bitrise.yml
  firefox-ios/Client/Info.plist
  firefox-ios/CredentialProvider/Info.plist
  firefox-ios/Extensions/NotificationService/Info.plist
  firefox-ios/Extensions/ShareTo/Info.plist
  firefox-ios/WidgetKit/Info.plist
  focus-ios/Blockzilla/Info.plist
  focus-ios/ContentBlocker/Info.plist
  focus-ios/FocusIntentExtension/Info.plist
  focus-ios/OpenInFocus/Info.plist
  focus-ios/Widgets/Info.plist
Due: workflow_1

Fixed spelling mistake
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewModel.swift
  firefox-ios/Client/Coordinators/AddressAutofillCoordinator.swift
  firefox-ios/Client/Coordinators/CredentialAutofillCoordinator.swift
  firefox-ios/Client/Frontend/Home/HomepageViewController.swift
  firefox-ios/Client/Frontend/Onboarding/Protocols/OnboardingCardDelegate.swift
Due: none

Remove FXIOS-9180 - Remove Duplicate Undo Close Tab Toast
  firefox-ios/Client/Frontend/Browser/Tabs/Middleware/TabManagerMiddleware.swift
Due: none

Completed ticket
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
  firefox-ios/Client/Frontend/PasswordManagement/PasswordManagerOnboardingViewController.swift
Due: none

Minor fix
  firefox-ios/Client/Application/AccessibilityIdentifiers.swift
Due: none

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
  taskgraph-definition: any of: taskcluster/**
