Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2, taskgraph-definition

taskcluster/ci/bitrise-trigger/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
loader: taskgraph.loader.transform:loader

transforms:
    - ffios_taskgraph.transforms.bitrise:transforms
    - ffios_taskgraph.transforms.secrets:transforms
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms


tasks:
    workflow_1:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "bitrise.yml"
    workflow_2:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "Tests/XCUITests/*"

taskcluster/kinds/test/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---

loader: taskgraph.loader.transform:loader

transforms:
    - taskgraph.transforms.run:transforms
    - taskgraph.transforms.task:transforms

tasks:
    taskgraph-definition:
        worker-type: misc
        worker:
            docker-image: {in-tree: alpine}
            max-run-time: 1800
        description: "Test the full `firefox_ios_taskgraph` to validate the latest changes"
        treeherder:
            symbol: test-taskgraph-definition
            kind: test
            platform: tests/opt
            tier: 1
        run:
            using: run-task
            use-caches: [checkout, pip]
            cwd: '{checkout}'
            command: >-
                pip3 install --break-system-packages -r taskcluster/requirements.txt &&
                for param in `ls taskcluster/test/params`; do
                    taskgraph full -p taskcluster/test/params/$param
                done &&
                taskgraph full
        when:
            files-changed:
                - taskcluster/**

Quote environment variables in relpro push workflow
  bitrise.yml
Due: workflow_1

Fix the default value for workflows in relpro_promote transform
  taskcluster/ffios_taskgraph/transforms/relpro_promote.py
Due: taskgraph-definition

Remove TODO
  taskcluster/kinds/version-bump/kind.yml
Due: taskgraph-definition

Add a comment about the staging specific step
  bitrise.yml
Due: workflow_1

Multiple fixes MTE-4537 for several tests
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Due: none

Run UI tests is not boolean
  bitrise.yml
Due: workflow_1

Remove FXIOS-25992 [autofill remove] Remove unused login-autofill feature flag
  firefox-ios/nimbus-features/autofillFeature.yaml
Due: none

Multiple fixes MTE-4537 for several tests (#26292)
  firefox-ios/firefox-ios-tests/Tests/XCUITests/FxScreenGraph.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/NavigationTest.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/ShareLongPressTests.swift
  firefox-ios/firefox-ios-tests/Tests/XCUITests/SyncFAUITests.swift
Due: none

Added test html for popup, added popup implementation on SampleBrowser
  BrowserKit/Sources/WebEngine/EngineSessionDelegate.swift
  BrowserKit/Sources/WebEngine/WKWebview/WKUIHandler.swift
  SampleBrowser/SampleBrowser.xcodeproj/project.pbxproj
  SampleBrowser/SampleBrowser/UI/Browser/BrowserViewController.swift
  SampleBrowser/SampleBrowser/UI/Browser/PopupViewController.swift
  SampleBrowser/SampleBrowser/UI/RootViewController.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsDataSource.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsDelegate.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsType.swift
  SampleBrowser/SampleBrowser/UI/Settings/SettingsViewController.swift
  SampleBrowser/SampleBrowser/testPopUp.html
Due: none

Refactor FXIOS-11837 #25800 - Resolve flaky test for testHandleRoute_launchFinishedAndBrowserNotReady_routeSaved() (#26194)
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Coordinators/SceneCoordinatorTests.swift
Due: none

Refactor FXIOS-11837 Resolve fetchTopSitesAction tests
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
Due: none

Add address bar background view
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Browser/Toolbars/AddressBarPanGestureHandler.swift
  firefox-ios/Client/TabManagement/TabWebViewPreview.swift
Due: none

Update UserAgentBuilder default desktop platform
  BrowserKit/Sources/Shared/UserAgent.swift
  firefox-ios/firefox-ios-tests/Tests/SharedTests/UserAgentBuilderTests.swift
Due: none

Remove unused UA spoofing for Google
  BrowserKit/Sources/Shared/UserAgent.swift
Due: none

Update desktop-like UAstring to 17.7
  BrowserKit/Sources/Shared/UserAgent.swift
Due: none

Update Focus UAstring versions to 17.7
  focus-ios/Blockzilla/Modules/WebView/LegacyWebViewController.swift
Due: none

Fix swiftlint errors.
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Due: none

Refactor FXIOS-11837 [Unit Test] Resolve fetchTopSitesAction tests (#26294)
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/TopSites/TopSitesManager.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Frontend/Homepage Rebuild/TopSitesManagerTests.swift
Due: none

Bugfix MTE-4538 Fix run builds conditionally (#26291)
  bitrise.yml
Due: workflow_1

Use shared pool for regular mode to lower the risk of losing cookies
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Due: none

Add helper method
  firefox-ios/Client/Frontend/Browser/Toolbars/ToolbarHelper.swift
Due: none

Undo homepage changes
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
Due: none

Disable clipsToBounds for some content container subviews
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
Due: none

Use if instead of two ternary operation
  firefox-ios/Client/TabManagement/TabManagerImplementation.swift
Due: none

Use toolbar helper in middleware
  firefox-ios/Client/Frontend/Browser/Toolbars/Redux/ToolbarMiddleware.swift
Due: none

Add count to tabs label
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Due: none

Fix segment selection to center
  firefox-ios/Client/Frontend/Browser/Tabs/Views/CustomSelectorView/TabTraySelectorView.swift
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Due: none

Fix landscape
  firefox-ios/Client/Frontend/Browser/Tabs/Views/TabTrayViewController.swift
Due: none

Refactor FXIOS-12075 [Homepage] update sentry log + constraints bug
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/ContextMenu/ContextMenuState.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/HomepageViewController.swift
  firefox-ios/Client/Frontend/Home/Homepage Rebuild/Pocket/PocketMiddleware.swift
Due: none

Remove credit-card-autofill flag
  firefox-ios/Client/Application/AppDelegate.swift
  firefox-ios/Client/FeatureFlags/NimbusFlaggableFeature.swift
  firefox-ios/Client/Frontend/Browser/BrowserViewController/Views/BrowserViewController.swift
  firefox-ios/Client/Frontend/Settings/AutoFillPasswordSettingsViewController.swift
  firefox-ios/Client/Frontend/Settings/SyncContentSettingsViewController.swift
  firefox-ios/Client/Nimbus/NimbusFeatureFlagLayer.swift
  firefox-ios/Providers/Profile.swift
  firefox-ios/Providers/RustSyncManager.swift
  firefox-ios/RustFxA/FxAWebViewModel.swift
  firefox-ios/firefox-ios-tests/Tests/ClientTests/Mocks/MockProfile.swift
  firefox-ios/nimbus-features/autofillFeature.yaml
Due: none

Add new localization strings for hand-drawn app icon alternatives.
  firefox-ios/Shared/Strings.swift
Due: none

Update %@ in string comment.
  firefox-ios/Shared/Strings.swift
Due: none

PR feedback fixes.
  firefox-ios/Shared/Strings.swift
Due: none

Use same args as firefox_configure_build
  bitrise.yml
Due: workflow_1

Update system theme string text. Add app icon variant section heading strings.
  firefox-ios/Shared/Strings.swift
Due: none

Separate build and test
  bitrise.yml
Due: workflow_1

Fix syntax
  bitrise.yml
Due: workflow_1

bump all dependencies
  bitrise.yml
Due: workflow_1

Use just xcode-test
  bitrise.yml
Due: workflow_1

Bump - Set version to 138.1
  version.txt
Due: none
