Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

workflow_1:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

workflow_2:
  bitrise-workflow: RunUnitTests
  description: Trigger bitrise workflow on github events

update var names and fix shell lint errors
  bitrise.yml
Due: workflow_1

Refactor MTE-1738 [v120] Update Firebase Performance Zip Step to Work with XCode 15 Artifacts (#16809)
  bitrise.yml
Due: workflow_1

Update strings
  Client/Frontend/Strings.swift
Due: none

Remove code for portrait mode only
  Client/Frontend/ContextualHint/ContextualHintViewController.swift
Due: none

Rename message card & model
  Client/Frontend/Fakespot/Client/ProductAnalysisData.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/FakespotViewModel.swift
Due: none

Fix MTE-1743 [v120] for toolbar menu test
  Tests/XCUITests/ToolbarTest.swift
Due: workflow_2

[focus-ios] Fixes https://github.com/mozilla-mobile/focus-ios/issues/3872 - Renew Glean expired metrics for Firefox Focus
  focus-ios/Blockzilla/metrics.yaml
Due: none

Bump version of device. (#16785)
  SyncIntegrationTests/xcodebuild.py
  SyncIntegrationTests/xcrun.py
Due: none

Refactor MTE-1732 [v120] FindInPageTests with TestRail (#16793)
  Client.xcodeproj/project.pbxproj
  Tests/SmokeXCUITests.xctestplan
  Tests/XCUITests/FindInPageTests.swift
Due: workflow_2

Fix MTE-1743 [v120] for toolbar menu test (#16814)
  Tests/XCUITests/ToolbarTest.swift
Due: workflow_2

Bump [v120] Update Sentry to version 8.13.1 (#16800)
  BrowserKit/Package.swift
  Client.xcodeproj/project.pbxproj
  Client.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Add FXIOS-7431 [v120] Add docc for bottom sheet (#16807)
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewController.swift
  BrowserKit/Sources/ComponentLibrary/BottomSheet/BottomSheetViewModel.swift
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/BottomSheetViewController.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/BottomSheetView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/BottomSheetView~dark.png
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/bottomSheet-close.imageset/Theme=Dark.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/bottomSheet-close.imageset/Theme=Light.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/crossCircleFillExtraLarge.imageset/Contents.json
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/crossCircleFillExtraLarge.imageset/crossCircleFillExtraLargeDark.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/Assets.xcassets/crossCircleFillExtraLarge.imageset/crossCircleFillExtraLargeLight.pdf
  SampleComponentLibraryApp/SampleComponentLibraryApp/BottomSheet/BottomSheetChildViewController.swift
Due: none

Add FXIOS-7434-7436 [v120] Add docc for cardview and shadow card view (#16806)
  BrowserKit/Sources/ComponentLibrary/CardView.swift
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PrimaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/SecondaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ShadowCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/CardView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/CardView~dark.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ShadowCardView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ShadowCardView~dark.png
  BrowserKit/Sources/ComponentLibrary/ShadowCardView.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/CardView/CardViewViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/ShadowCardView/ShadowCardViewViewController.swift
Due: none

Build [v120] Github action Docc update runs-on attempt
  .github/workflows/publish-docc.yml
Due: none

Bump [v120] Update uses of `SuggestionQuery`.
  Storage/Rust/RustFirefoxSuggest.swift
Due: none

Show review in full if there is only one group with one review
  Client/Frontend/Fakespot/Views/FakespotHighlightGroupView.swift
  Client/Frontend/Fakespot/Views/FakespotHighlightsCardView.swift
Due: none

Build [v120] Github action Docc update for Xcode 15 attempt
  .github/workflows/publish-docc.yml
Due: none

addressed PR comments
  Client/Coordinators/PasswordManagerCoordinator.swift
  Client/Frontend/Browser/Authenticator.swift
  Client/Frontend/PasswordManagement/PasswordManagerListViewController.swift
  Client/Frontend/Settings/SyncContentSettingsViewController.swift
  Client/Telemetry/TelemetryWrapper.swift
Due: none

issue-15269 | removed dependency on legacy theme
  BrowserKit/Sources/Common/Theming/DarkTheme.swift
  BrowserKit/Sources/Common/Theming/DefaultThemeManager.swift
  BrowserKit/Sources/Common/Theming/LightTheme.swift
  BrowserKit/Sources/Common/Theming/ThemeApplicable.swift
  BrowserKit/Sources/Common/Theming/ThemeColourPalette.swift
  BrowserKit/Sources/Common/Theming/ThemeManager.swift
  Client.xcodeproj/project.pbxproj
  Client/Extensions/NSAttributedString+Extension.swift
  Client/Frontend/Browser/BrowserViewController.swift
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+WebViewDelegates.swift
  Client/Frontend/Browser/MainMenuActionHelper.swift
  Client/Frontend/Browser/OpenWithSettingsViewController.swift
  Client/Frontend/Browser/Tabs/Legacy/LegacyTabCell.swift
  Client/Frontend/Browser/Tabs/TabCell.swift
  Client/Frontend/InternalSchemeHandler/AboutHomeHandler.swift
  Client/Frontend/Library/Bookmarks/BookmarksFolderCell.swift
  Client/Frontend/Library/Bookmarks/BookmarksPanel.swift
  Client/Frontend/Library/Bookmarks/LocalDesktopFolder.swift
  Client/Frontend/Library/LibraryViewController/LibraryViewController.swift
  Client/Frontend/Settings/Main/General/ThemeSetting.swift
  Client/Frontend/Settings/SettingsNavigationController.swift
  Client/Frontend/Settings/ThemeSettings/ThemeMiddleware.swift
  Client/Frontend/Settings/ThemeSettings/ThemeSettingsController.swift
  Client/Frontend/TabContentsScripts/LoginsHelper.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyDarkTheme.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyTheme.swift
  Client/Frontend/Theme/LegacyThemeManager/LegacyThemeManager.swift
  Client/Frontend/Widgets/SnackBar.swift
  Client/Frontend/Widgets/SnackButton.swift
  Client/Frontend/Widgets/TimerSnackBar.swift
  Client/TabManagement/Legacy/LegacyTabManager.swift
  Client/TabManagement/Tab.swift
  Client/Telemetry/TelemetryWrapper.swift
  Tests/ClientTests/Mocks/MockThemeManager.swift
  Tests/ClientTests/TabCellTests.swift
  Tests/ClientTests/TelemetryWrapperTests.swift
Due: none

Add array of items to state and more clean up
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsSectionManager.swift
  Client/Frontend/Browser/Tabs/TabDisplayView.swift
Due: none

Update image and change collectionView appearance
  Client/Application/ImageIdentifiers.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsFooterView.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsSectionManager.swift
Due: none

Clean up and optimization + remove unnecessary default cell
  Client/Application/ImageIdentifiers.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsFooterView.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsHeaderView.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsSectionManager.swift
  Client/Frontend/Browser/Tabs/TabDisplayView.swift
Due: none

rename state and remove imageidentifier removed from main
  Client/Application/ImageIdentifiers.swift
  Client/Frontend/Browser/Tabs/TabDisplayView.swift
Due: none

Add a11y identifiers and adjustsFontForContentSizeCategory where missing
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsFooterView.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsHeaderView.swift
  Client/Frontend/Browser/Tabs/Legacy/LegacyInactiveTabs/LegacyInactiveTabButton.swift
  Client/Frontend/Browser/Tabs/Legacy/LegacyInactiveTabs/LegacyInactiveTabHeader.swift
Due: none

Fix swiftlint warning
  Client/Frontend/Browser/Tabs/TabDisplayView.swift
Due: none

Update order of placeholders
  Client/Frontend/Fakespot/FakespotOptInCardViewModel.swift
  Client/Frontend/Strings.swift
Due: none

Remove .pocket feature flag
  Client/FeatureFlags/NimbusFlaggableFeature.swift
  Client/Frontend/Home/HomepageViewModel.swift
  Client/Frontend/Home/Pocket/PocketViewModel.swift
  Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
  Client/Nimbus/NimbusFeatureFlagLayer.swift
  Client/Telemetry/TelemetryWrapper.swift
  Providers/Pocket/PocketProvider.swift
  Shared/Prefs.swift
  Tests/ClientTests/FeatureFlagManagerTests.swift
  nimbus-features/homescreenFeature.yaml
Due: none

Refactor FXIOS-6924 [v120] Create the inactive tab cell, header and footer (#16790)
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsCell.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsFooterView.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsHeaderView.swift
  Client/Frontend/Browser/Tabs/InactiveTabs/InactiveTabsSectionManager.swift
  Client/Frontend/Browser/Tabs/Legacy/LegacyInactiveTabs/LegacyInactiveTabButton.swift
  Client/Frontend/Browser/Tabs/Legacy/LegacyInactiveTabs/LegacyInactiveTabHeader.swift
  Client/Frontend/Browser/Tabs/TabDisplayView.swift
Due: none

add debugging to robo test
  bitrise.yml
Due: workflow_1

Show pocket settings even when the feature is turned off
  Client/Frontend/Settings/HomepageSettings/HomePageSettingViewController.swift
Due: none

Fix empty private tabs view and update state stub
  Client/Frontend/Browser/Tabs/EmptyPrivateTabsView.swift
  Client/Frontend/Browser/Tabs/TabDisplayView.swift
  Client/Frontend/Browser/Tabs/TabDisplayViewController.swift
  Client/Frontend/Browser/Tabs/TabTrayState.swift
Due: none

Add initial recording
  Client.xcodeproj/project.pbxproj
  Client/Application/AppDelegate.swift
  Client/Telemetry/MetricKit/MetricKitWrapper.swift
  Client/Telemetry/TelemetryWrapper.swift
  Client/metrics.yaml
Due: none

Add glean test
  Client/Telemetry/TelemetryWrapper.swift
  Client/metrics.yaml
  Tests/ClientTests/TelemetryWrapperTests.swift
Due: none

Bug MTE-1747 [v120] Add Debugging to Robo Tests Workflow (#16824)
  bitrise.yml
Due: workflow_1

Update docc for general components
  BrowserKit/Sources/ComponentLibrary/ActionFooterView.swift
  BrowserKit/Sources/ComponentLibrary/CollapsibleCardView.swift
  BrowserKit/Sources/ComponentLibrary/ContextualHintView/ContextualHintViewModel.swift
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ActionFooterView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/CollapsibleCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ContextualHintView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/PrimaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/SecondaryRoundedButton.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/General Components/ShadowCardView.md
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ActionFooterView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ActionFooterView~dark.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/CollapsedCardView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/CollapsedCardView~dark.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ContextualHintView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ContextualHintView~dark.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ExpendedCardView.png
  BrowserKit/Sources/ComponentLibrary/Documentation.docc/Resources/ExpendedCardView~dark.png
  SampleComponentLibraryApp/SampleComponentLibraryApp/CollapsibleCardView/CardContentView.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/CollapsibleCardView/CollapsibleCardViewViewController.swift
  SampleComponentLibraryApp/SampleComponentLibraryApp/ContextualHintView/ContextualHintViewViewController.swift
Due: none

Update package resolve of sample app
  SampleComponentLibraryApp/SampleComponentLibraryApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Update Client/metrics.yaml
  Client/metrics.yaml
Due: none

add quiet install for gcloud beta
  bitrise.yml
Due: workflow_1

add cache path for gcloud beta component
  bitrise.yml
Due: workflow_1

Path conditions:
  workflow_1: any of: bitrise.yml
  workflow_2: any of: Tests/XCUITests/*
