Repository mozilla-mobile/firefox-ios: changes, and which Taskcluster tasks are due for each by the changed paths.
All: workflow_1, workflow_2

taskcluster/ci/bitrise-trigger/kind.yml:

# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
---
loader: taskgraph.loader.transform:loader

transforms:
    - ffios_taskgraph.transforms.bitrise:transforms
    - ffios_taskgraph.transforms.secrets:transforms
    - taskgraph.transforms.job:transforms
    - taskgraph.transforms.task:transforms


tasks:
    workflow_1:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "bitrise.yml"
    workflow_2:
        bitrise-workflow: RunUnitTests
        description: Trigger bitrise workflow on github events
        optimization: 
            skip-unless-changed:
                - "Tests/XCUITests/*"

Bugfix FXIOS-7344 [v119] Fix publish docc yml
  .github/workflows/publish-docc.yml
Due: none

revert to legacy wait methods
  Tests/XCUITests/ActivityStreamTest.swift
Due: workflow_2

Wait until the app is really in the background
  Tests/XCUITests/BaseTestCase.swift
Due: workflow_2

fix WaitForValueContains method name
  Tests/XCUITests/ActivityStreamTest.swift
Due: workflow_2

Add FXIOS-6917 [v119] Create the segment control UI component (#16447)
  Client/Frontend/Browser/BrowserViewController/BrowserViewController+URLBarDelegate.swift
  Client/Frontend/Browser/Tabs/TabTrayViewController.swift
Due: none

revert checkNumberOfExpectedTopSites method strat
  Tests/XCUITests/ActivityStreamTest.swift
Due: workflow_2

test full gcloud path
  bitrise.yml
Due: workflow_1

test env var deploy
  bitrise.yml
Due: workflow_1

comment out archive for testing
  bitrise.yml
Due: workflow_1

update build path
  bitrise.yml
Due: workflow_1

remove resolvePackageDependencies
  bitrise.yml
Due: workflow_1

update xcodebuild dependency and config read
  bitrise.yml
Due: workflow_1

test simple build
  bitrise.yml
Due: workflow_1

Address lint issue.
  Tests/XCUITests/BaseTestCase.swift
Due: workflow_2

add development team
  bitrise.yml
Due: workflow_1

Address lint issue
  Tests/XCUITests/BaseTestCase.swift
Due: workflow_2

verify dependencies
  bitrise.yml
Due: workflow_1

Revert "Merge branch 'akshat3358-14265'"
  Client/Frontend/Browser/TabPrintPageRenderer.swift
  Client/Frontend/Browser/TopTabCell.swift
  Client/Frontend/Settings/Main/Account/SyncNowSetting.swift
  Client/Helpers/LegacyDynamicFontHelper.swift
Due: none

Replace Firefox account with account
  Client/Frontend/Strings.swift
Due: none

Refactor MTE-15510 [v119] Logins TestRail matching (#16435)
  Client.xcodeproj/project.pbxproj
  Tests/ExperimentIntegrationTests.xctestplan
  Tests/FullFunctionalTestPlan.xctestplan
  Tests/PerformanceTestPlan.xctestplan
  Tests/SmokeXCUITests.xctestplan
  Tests/Smoketest2.xctestplan
  Tests/Smoketest3.xctestplan
  Tests/Smoketest4.xctestplan
  Tests/SyncIntegrationTestPlan.xctestplan
  Tests/XCUITests/LoginsTests.swift
Due: workflow_2

Bugfix MTE-1562 [v119] Wait until the app is really in the background (#16452)
  Tests/XCUITests/BaseTestCase.swift
Due: workflow_2

Refactor MTE-1561 [v119] BrowsingPDFTests links (#16437)
  Tests/XCUITests/BrowsingPDFTests.swift
Due: workflow_2

remove commented lines
  bitrise.yml
Due: workflow_1

undo changes in working step
  bitrise.yml
Due: workflow_1

FXIOS-7361 #16307 Show "No internet connection" warning card
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/FakespotViewModel.swift
  Client/Frontend/Strings.swift
Due: none

Update to 120
  Client/Frontend/Strings.swift
Due: none

FXIOS-7420 #16457 Show all purpose generic error message (eg. API is down)
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/FakespotViewModel.swift
  Client/Frontend/Strings.swift
Due: none

Bugfix MTE-1560 [v119] Fix Firebase Performance Test Workflow (#16455)
  bitrise.yml
Due: workflow_1

FXIOS-7421 #16458 Show error if fakespot does not analyze reviews for product
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/FakespotViewModel.swift
  Client/Frontend/Strings.swift
Due: none

Add FXIOS-7361 [v120] Show "No internet connection" warning card (#16464)
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/FakespotViewModel.swift
  Client/Frontend/Strings.swift
Due: none

addressed PR comments
  Client/Application/AccessibilityIdentifiers.swift
  Client/Assets/Images.xcassets/Shopping/shoppingOptInCardImage.imageset/Contents.json
  Client/Assets/Images.xcassets/Shopping/shoppingOptInCardImage.imageset/optInCard 1.png
  Client/Assets/Images.xcassets/Shopping/shoppingOptInCardImage.imageset/optInCard.png
  Client/Frontend/Fakespot/FakespotOptInCardViewModel.swift
  Client/Frontend/Fakespot/Views/FakespotOptInCardView.swift
  Tests/ClientTests/Shopping/FakespotOptInViewModelTests.swift
Due: none

Fix settings tests
  Tests/ClientTests/Shopping/FakespotSettingsCardViewModelTests.swift
Due: none

Add FXIOS-7383 [v119] Add footer to settings card (#16407)
  BrowserKit/Sources/ComponentLibrary/ActionFooterView.swift
  Client/Application/AccessibilityIdentifiers.swift
  Client/Frontend/Fakespot/FakespotViewController.swift
  Client/Frontend/Fakespot/Views/FakespotSettingsCardView.swift
  Client/Frontend/Strings.swift
  Tests/ClientTests/Shopping/FakespotSettingsCardViewModelTests.swift
Due: none

updated accessibility values for the buttons
  Client/Application/AccessibilityIdentifiers.swift
Due: none

Fixed Bug 5772, after deletion of custom search engine the right bar button item should be renamed to Edit again
  Client/Frontend/Settings/SearchSettingsTableViewController.swift
Due: none

fix casing for waitForValueContains
  Tests/XCUITests/ActivityStreamTest.swift
  Tests/XCUITests/BaseTestCase.swift
Due: workflow_2

Optimize PartnerWebsite
  Client/Frontend/Fakespot/FakespotOptInCardViewModel.swift
  Tests/ClientTests/Shopping/FakespotOptInViewModelTests.swift
Due: none

swiftlint
  SampleComponentLibraryApp/SampleComponentLibraryApp/BottomSheet/BottomSheetChildViewController.swift
Due: none
